http_interactions:
- request:
    method: GET
    uri: https://hcd.rtpnc.epa.gov/api/safety/pcodes
  response:
    status: 200
    headers:
      Content-Type: application/json;charset=UTF-8
    body:
      string: '[{"code":"P101","codes":["P101"],"description":"If medical advice is
        needed, have product container or label at hand.","obsolete":false},{"code":"P102","codes":["P102"],"description":"Keep
        out of reach of children.","obsolete":false},{"code":"P103","codes":["P103"],"description":"Read
        carefully and follow all instructions.","obsolete":false},{"code":"P201","codes":["P201"],"description":"(Obsolete)
        Obtain special instructions before use.","obsolete":true},{"code":"P202","codes":["P202"],"description":"(Obsolete)
        Do not handle until all safety precautions have been read and understood.","obso[...]
