http_interactions:
- request:
    method: GET
    uri: https://hcd.rtpnc.epa.gov/api/toxprints/toxprints?category=DTXSID7020182
  response:
    status: 500
    headers:
      Content-Type: application/json
    body:
      string: '{"timestamp":"2026-03-04T20:05:12.055+00:00","status":500,"error":"Internal
        Server Error","message":"Null return value from advice does not match primitive
        return type for: public abstract int gov.epa.toxprints.data.AssaysRepository.countDistinctLabels()","path":"/api/toxprints/toxprints"}'
  recorded_at: 2026-03-04 20:05:12
recorded_with: VCR-vcr/2.1.0
