http_interactions:
- request:
    method: GET
    uri: https://hcd.rtpnc.epa.gov/api/alerts/groups
  response:
    status: 200
    headers:
      Content-Type: application/json;charset=UTF-8
    body:
      string: '[{"@c":".Alert","type":"GROUP","text":"Ashby","logicType":"OR","operations":[],"frozen":false,"id":"64342a245085da469c499133","name":"ashby"},{"@c":".Alert","type":"GROUP","text":"TTC","logicType":"OR","operations":[],"frozen":false,"id":"64342a245085da469c499134","name":"ttc"},{"@c":".Alert","type":"GROUP","text":"BMS","logicType":"OR","operations":[],"frozen":false,"id":"64342a275085da469c499135","name":"bms"},{"@c":".Alert","type":"GROUP","text":"Dundee","logicType":"OR","operations":[],"frozen":false,"id":"64342a275085da469c499136","name":"dundee"},{"@c":".Alert","type":"GROUP","text":"Glaxo","logicType":"OR","operations"[...]
