http_interactions:
- request:
    method: POST
    uri: https://hcd.rtpnc.epa.gov/api/search
    body:
      string: '{"inputType":"MOL","searchType":"HAZARD","params":{"limit":10,"hazard-name":"Carcinogenicity","min-toxicity":"H"},"query":"\n  Ketcher  4112412132D
        1   1.00000     0.00000     0\n\n  0  0  0     0  0            999 V2000\nM  END\n"}'
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: '{"records":[{"id":5020281,"hazard":"VH","authority":"Authoritative","result":"FOUND","chemId":"5020281"},{"id":8020961,"hazard":"VH","authority":"Authoritative","result":"FOUND","chemId":"8020961"},{"id":7049392,"hazard":"H","authority":"Screening","result":"FOUND","chemId":"7049392"},{"id":4025745,"hazard":"VH","authority":"Screening","result":"FOUND","chemId":"4025745"},{"id":9059208,"hazard":"VH","authority":"Screening","result":"FOUND","chemId":"9059208"},{"id":7026653,"hazard":"VH","authority":"Screening","result":"FOUND","chemId":"7026653"},{"id":8043868,"hazard":"VH","authority":"[...]
