http_interactions:
- request:
    method: GET
    uri: https://hcd.rtpnc.epa.gov/api/search/substructure?smiles=INVALID_SMILES_XYZ
  response:
    status: 500
    headers:
      Content-Type: application/json
    body:
      string: '{"timestamp":"2026-03-04T20:11:54.704+00:00","status":500,"error":"Internal
        Server Error","message":"molecule auto loader: element: fromString(): element
        L not supported","path":"/api/search/substructure"}'
  recorded_at: 2026-03-04 20:11:55
recorded_with: VCR-vcr/2.1.0
