http_interactions:
- request:
    method: GET
    uri: https://hcd.rtpnc.epa.gov/api/amos/substance_similarity_search/DTXSID7020182
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |
        {"similar_substance_info":[{"casrn":"263261-65-0","dtxcid":"DTXCID10626452","dtxsid":"DTXSID10675703","preferredName":"4,4'-(Propane-2,2-diyl)di(~13~C_6_)phenol","similarity":1.0},{"casrn":"96210-87-6","dtxcid":"DTXCID50534486","dtxsid":"DTXSID40583721","preferredName":"Bisphenol A-d16","similarity":1.0},{"casrn":"1844-01-5","dtxcid":"DTXCID50234459","dtxsid":"DTXSID70283308","preferredName":"4,4'-Dihydroxytetraphenylmethane","similarity":1.0},{"casrn":"6938-97-2","dtxcid":"DTXCID30239705","dtxsid":"DTXSID50288558","preferredName":"4-(1,1-diphenylethyl)phenol","similarity":1.0},{"casrn":"27955-94-8","dtxcid":"DTXCID0017712","dtxsid":"DTXSID2037712","preferredName":"4[...]
