http_interactions:
- request:
    method: GET
    uri: https://hcd.rtpnc.epa.gov/api/resolver/getsubstance?name=INVALID_DTXSID_12345
  response:
    status: 500
    headers:
      Content-Type: application/json
    body:
      string: '{"timestamp":"2026-03-04T20:03:13.221+00:00","status":500,"error":"Internal
        Server Error","message":"Cannot invoke \"String.substring(int)\" because the
        return value of \"java.net.URL.getRef()\" is null","path":"/api/resolver/getsubstance"}'
  recorded_at: 2026-03-04 20:03:13
recorded_with: VCR-vcr/2.1.0
