http_interactions:
- request:
    method: POST
    uri: https://hcd.rtpnc.epa.gov/api/toxprints/calculate
    body:
      string: '{"chemicals":[{"sid":"INVALID_DTXSID_12345"}],"options":{"OR":3,"PV1":0.050000000000000003,"TP":3}}'
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: '{"actives":0,"total":0,"metrics":[],"chemicals":[],"options":{"profile":"toxprint_V2_0_r711","OR":3.0,"PV1":0.05,"TP":3}}'
  recorded_at: 2026-03-04 20:05:03
recorded_with: VCR-vcr/2.1.0
