http_interactions:
- request:
    method: POST
    uri: https://hcd.rtpnc.epa.gov/api/search/lookup
    body:
      string: '{"chemicals":[{"sid":"DTXSID3032040"},{"sid":"DTXSID9025326"},{"sid":"DTXSID6034479"}],"options":[]}'
  response:
    status: 500
    headers:
      Content-Type: application/json
    body:
      string: '{"timestamp":"2026-03-04T20:03:18.981+00:00","status":500,"error":"Internal
        Server Error","message":"scanner: null input","path":"/api/search/lookup"}'
  recorded_at: 2026-03-04 20:03:19
recorded_with: VCR-vcr/2.1.0
