http_interactions:
- request:
    method: GET
    uri: https://hcd.rtpnc.epa.gov/api/resolver/getdatasources
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: '[{"name":"001Chemical","substanceCount":"368497","annotationCount":"","annotations":[],"uploading":false},{"name":"10X
        CHEM","substanceCount":"519110","annotationCount":"","annotations":[],"uploading":false},{"name":"1st
        Scientific","substanceCount":"49887","annotationCount":"","annotations":[],"uploading":false},{"name":"3A
        SpeedChemical Inc","substanceCount":"4931","annotationCount":"","annotations":[],"uploading":false},{"name":"3ASenrise","substanceCount":"39914","annotationCount":"","annotations":[],"uploading":false},{"name":"3WAY
        PHARM INC","substanceCou[...]
