http_interactions:
- request:
    method: GET
    uri: https://hcd.rtpnc.epa.gov/api/resolver/getannotationslist?name=INVALID_DTXSID_12345
  response:
    status: 500
    headers:
      Content-Type: application/json
    body:
      string: '{"timestamp":"2026-03-04T20:03:05.942+00:00","status":500,"error":"Internal
        Server Error","message":"404 Not Found on GET request for \"https://pubchem.ncbi.nlm.nih.gov/rest/pug/annotations/sourcename/JSON/\":
        \"{<EOL>  \"Fault\": {<EOL>    \"Code\": \"PUGREST.NotFound\",<EOL>    \"Message\":
        \"No annotations found for the given source\"<EOL>  }<EOL>}<EOL>\"","path":"/api/resolver/getannotationslist"}'
  recorded_at: 2026-03-04 20:03:06
recorded_with: VCR-vcr/2.1.0
