http_interactions:
- request:
    method: GET
    uri: https://hcd.rtpnc.epa.gov/api/search/similar?smiles=c1ccccc1
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: '{"records":[{"id":301037374,"sid":"DTXSID301037374","name":"1,4-Phenylene","casrn":"3355-34-8","similarity":1.0,"mass":76.03130006790161,"formula":"C6
        H4","smiles":"C1=C[C]=CC=[C]1 |^1:2,5|","result":"FOUND","chemId":"3355-34-8"},{"id":101337601,"sid":"DTXSID101337601","name":"Phenyl
        radical","casrn":"2396-01-2","similarity":1.0,"mass":77.03912508487701,"formula":"C6
        H5","smiles":"C1=CC=CC=[C]1 |^1:5|","result":"FOUND","chemId":"2396-01-2"},{"id":3039242,"sid":"DTXSID3039242","name":"Benzene","casrn":"71-43-2","similarity":1.0,"mass":78.04695010185242,"formula":"C6
        H6","smiles":"C1C=CC=CC=1","hazard":"VH","authority":"Authoritative","result":"FOUND","chemId":"71-43-2"},{"id":60480506,"sid":"DTXSID60480506","name":"Benzene-13C","casrn":"6998-50-1","similarity":1.0,"mass":79.05030512809753,"formula":"C6
        H6","smiles":"C1=CC=CC=[13CH]1","result":"FOUND","chemId":"6998-50-1"},{"id":50149812,"sid":"DTXSID50149812","name":"(2H)Benzene","casrn":"1120-89-4","similarity":1.0,"mass":79.05322682857513,"formula":"C6
        H6","smiles":"[2H]C1C=CC=CC=1","result":"FOUND","chemId":"1120-89-4"},{"id":60229558,"sid"[...]
