http_interactions:
- request:
    method: GET
    uri: https://hcd.rtpnc.epa.gov/api/stdizer/groups/recursive/DTXSID7020182
  response:
    status: 404
    headers:
      Content-Type: application/json;charset=UTF-8
    body:
      string: '{"timestamp":"2026-03-04T20:04:59.342+00:00","status":404,"error":"Not
        Found","message":"No static resource api/stdizer/groups/recursive/DTXSID7020182.","path":"/api/stdizer/groups/recursive/DTXSID7020182"}'
  recorded_at: 2026-03-04 20:04:59
[...]
- request:
    method: GET
    uri: https://hcd.rtpnc.epa.gov/api/stdizer/groups/recursive/DTXSID8024291
  response:
    status: 404
    headers:
      Content-Type: application/json;charset=UTF-8
    body:
      string: '{"timestamp":"2026-03-04T20:04:59.541+00:00","status":404,"error":"Not
        Found","message":"No static resource api/stdizer/groups/recursive/DTXSID8024291.","path":"/api/stdizer/groups/recursive/DTXSID8024291"}'
  recorded_at: 2026-03-04 20:05:00
recorded_with: VCR-vcr/2.1.0
