http_interactions:
- request:
    method: GET
    uri: https://hcd.rtpnc.epa.gov/api/amos/get_similar_structures/DTXSID7020182
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |
        {"dtxsid_counts":[{"dtxsid":"DTXSID90234493","num_fact_sheets":1,"num_methods":0,"preferred_name":"Lead(2+) 4-(1,1-dimethylethyl)benzoate","similarity":0.5263158},{"dtxsid":"DTXSID70188081","num_fact_sheets":0,"num_methods":1,"preferred_name":"4-Ethylstyrene","similarity":0.53333336},{"dtxsid":"DTXSID10243360","num_fact_sheets":1,"num_methods":0,"preferred_name":"2,2'-Thiobis(4-tert-pentylphenol)","similarity":0.5555556},{"dtxsid":"DTXSID20243932","num_fact_sheets":3,"num_methods":0,"preferred_name":"Cumidine","similarity":0.5483871},{"dtxsid":"DTXSID10274038","num_fact_sheets":1,"num_methods":1,"preferred_name":"p-tert-Butylphenyl diphenyl pho[...]
