http_interactions:
- request:
    method: GET
    uri: https://hcd.rtpnc.epa.gov/api/resolver/ccte-list?name=DTXSID7020182
  response:
    status: 500
    headers:
      Content-Type: application/json
    body:
      string: '{"timestamp":"2026-03-04T20:02:46.915+00:00","status":500,"error":"Internal
        Server Error","message":"Cannot invoke \"java.util.List.stream()\" because
        \"chemicals\" is null","path":"/api/resolver/ccte-list"}'
  recorded_at: 2026-03-04 20:02:47
recorded_with: VCR-vcr/2.1.0
