http_interactions:
- request:
    method: POST
    uri: https://hcd.rtpnc.epa.gov/api/search
    body:
      string: '{"chemicals":[{"sid":"DTXSID2033314"},{"sid":"DTXSID50474898"},{"sid":"DTXSID40893599"}],"options":{"offset":0}}'
  response:
    status: 500
    headers:
      Content-Type: application/json
    body:
      string: '{"timestamp":"2026-03-04T20:03:13.261+00:00","status":500,"error":"Internal
        Server Error","message":"Cannot invoke \"gov.epa.search.model.SearchType.ordinal()\"
        because the return value of \"gov.epa.search.model.SearchRequest.getSearchType()\"
        is null","path":"/api/search"}'
  recorded_at: 2026-03-04 20:03:13
recorded_with: VCR-vcr/2.1.0
