http_interactions:
- request:
    method: POST
    uri: https://hcd.rtpnc.epa.gov/api/toxprints/chemicals_categories
    body:
      string: '[{"sid":"DTXSID3032040"},{"sid":"DTXSID10894891"},{"sid":"DTXSID90486733"}]'
  response:
    status: 400
    headers:
      Content-Type: application/json
    body:
      string: '{"timestamp":"2026-03-04T20:05:05.158+00:00","status":400,"error":"Bad
        Request","message":"JSON parse error: Cannot deserialize value of type `gov.epa.toxprints.controller.model.ChemicalsCategoriesRequest`
        from Array value (token `JsonToken.START_ARRAY`)","path":"/api/toxprints/chemicals_categories"}'
  recorded_at: 2026-03-04 20:05:05
recorded_with: VCR-vcr/2.1.0
