http_interactions:
- request:
    method: GET
    uri: https://hcd.rtpnc.epa.gov/api/amos/database_summary/
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |
        {"External Spectrum":{"Total":771091},"Fact Sheet":{"Total":36682},"Internal Spectrum":{"IR":{"FTIR":359,"Total":359},"Mass":{"FAB-MS":217,"GC/MS":28500,"LC/MS":858972,"MALDI-MS":75,"Total":898554,"other":10790},"NMR":{"13C":715,"1H":1514,"Total":2229},"PDF":36310,"Total":937452},"Method":{"Total":7400},"Sources":{"Total":274},"Substances":{"External Spectrum":174806,"Internal Fact Sheet":18426,"Internal Method":15543,"Internal Spectrum":34339,"Total":200825}}
  recorded_at: 2026-04-23 16:14:54
recorded_with: VCR-vcr/2.1.0
