http_interactions:
- request:
    method: POST
    uri: https://hcd.rtpnc.epa.gov/api/services/convert
    body:
      string: '{"chemicals":[{"sid":"DTXSID60160518"},{"sid":"DTXSID2046541"},{"sid":"DTXSID70228451"}],"options":[]}'
  response:
    status: 500
    headers:
      Content-Type: application/json
    body:
      string: '{"timestamp":"2026-03-04T20:04:55.862+00:00","status":500,"error":"Internal
        Server Error","message":"Cannot invoke \"String.hashCode()\" because \"<local3>\"
        is null","path":"/api/services/convert"}'
  recorded_at: 2026-03-04 20:04:56
recorded_with: VCR-vcr/2.1.0
