http_interactions:
- request:
    method: GET
    uri: https://hcd.rtpnc.epa.gov/api/padel?smiles=c1ccccc1&2d=TRUE&3d=FALSE&fp=FALSE&headers=FALSE
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: '{"info":{"name":"padel","version":"2.21"},"options":{"headers":false,"timeout":60,"compute2D":true,"compute3D":false,"computeFingerprints":false,"removeSalt":true,"standardizeNitro":true,"standardizeTautomers":false},"chemicals":[{"smiles":"c1ccccc1","inchi":"InChI=1S/C6H6/c1-2-4-6-5-3-1/h1-6H","inchiKey":"UHOVQNZJYSORNB-UHFFFAOYSA-N","descriptors":[0.0,0.0,0.0,0.0,14.560758000000002,6.0,6.0,12.0,6.0,6.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,871.68111,938.2272539999997,1010.8697819999995,584.1738029999999,78.738912,3.0481920000000002,0.0,0.0,0.0,2727.603877081561,3229.52110871909,3917.9408069422025,2833.8925682797963,874.9221648086931,93.25123329279079,0.0,0.0,0.0,85.55387999999998,87.948888,130.65467999999998,148.34391600000004,83.01657599999999,20.155392,0.0,0.0,0.0,19.40107742909399,23.41466586,30.09593172000001,24.396909149094,9.[...]
