http_interactions:
- request:
    method: POST
    uri: https://hcd.rtpnc.epa.gov/api/toxprints/toxprints_categories
    body:
      string: '[{"sid":"DTXSID701026084"},{"sid":"DTXSID801027235"},{"sid":"DTXSID30997772"}]'
  response:
    status: 400
    headers:
      Content-Type: application/json
    body:
      string: '{"timestamp":"2026-03-04T20:05:11.172+00:00","status":400,"error":"Bad
        Request","message":"JSON parse error: Cannot deserialize value of type `gov.epa.toxprints.controller.model.ToxprintsCategoriesRequest`
        from Array value (token `JsonToken.START_ARRAY`)","path":"/api/toxprints/toxprints_categories"}'
  recorded_at: 2026-03-04 20:05:11
recorded_with: VCR-vcr/2.1.0
