http_interactions:
- request:
    method: GET
    uri: https://hcd.rtpnc.epa.gov/api/webtest?smiles=c1ccccc1&headers=FALSE
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: '{"info":{"name":"webtest","version":"5.2.1"},"options":{"headers":false},"chemicals":[{"ordinal":0,"smiles":"C1C=CC=CC=1","inchi":"InChI=1S/C6H6/c1-2-4-6-5-3-1/h1-6H","inchiKey":"UHOVQNZJYSORNB-UHFFFAOYSA-N","descriptors":[4.24264069,3.0,2.12132034,1.5,1.06066017,0.75,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.125,0.0,0.0,0.0,0.0,0.0,3.46410162,2.0,1.15470054,0.66666667,0.38490018,0.22222222,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.03703704,0.0,0.0,0.0,0.0,0.0,4.16666667,2.22222222,1.33333333,3.41232151,1.60636374,0.84519446,0.91357159,0.0,0.0,0.0,0.0,0.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0[...]
