http_interactions:
- request:
    method: GET
    uri: https://hcd.rtpnc.epa.gov/api/safety/classes
  response:
    status: 200
    headers:
      Content-Type: application/json;charset=UTF-8
    body:
      string: '[{"id":"H200-Unstable Explosive","obsolete":true,"code":"H200","statements":["Unstable
        Explosive"],"classes":["Explosives"],"category":"Unstable Explosive","signal":"Danger","prevention":["P201","P202","P281"],"response":["P372","P373","P380"],"storage":["P401"],"disposal":["P501"]},{"id":"H201-Div
        1.1","obsolete":true,"code":"H201","statements":["Explosive","mass explosion
        hazard"],"classes":["Explosives"],"category":"Div 1.1","signal":"Danger","prevention":["P210","P230","P240","P250","P280"],"response":["P370+P380","P372","P373"],"storage":["P401"],"disposal":["P501"]},{"id":"H202-Div
        1.2","obsolete":true,"code":"H202","statements":["Explosive","severe projection
        hazard"],"classes":["Explosives"],"category":"Div 1.2","signal":"Danger","prevention":["P210","P230","P240","P250","P280"],"response":["P370+P380","P372","P373"],"storage":["P401"],"disposal":["P501"]},{"id":"H203-Div
        1.3","obsolete":true,"code":"H203","statements":["Explosive","fire, blast
        or projection hazard"],"classes":["Explosives"],"category":"Div 1.3","signal":"Danger","prevention":["P210","P230","P240","P250","P280"],"response":["P370+P380","P372","P373"],"storage":["P401"],"disposal":["P501"]},{"id":"H204-Category
        2B","obsolete":false,"code":"H204","statements":["Fire or projection hazard"],"classes":["Explosives"],"category":"Category
        2B","un_class":"Div 1.4","signal":"Warning","prevention":["P203","P210","P234","P236","P240","P250","P280"],"response":["P370+P372+P380+P373"],"storage":["P401"],"disposal":["P503"]},{"id":"H204-Category
        2C","obsolete":false,"code":"H204","statements":["Fire or projection hazard"],"classes":["Explosives"],"category":"Category
        2C","un_class":"Div 1.4","signal":"Warning","prevention":["P203","P210","P234","P236","P240","P250","P280"],"response":["P370+P380+P375+P373"],"storage":["P401"],"disposal[...]
