http_interactions:
- request:
    method: GET
    uri: https://hcd.rtpnc.epa.gov/api/amos/get_data_source_info/
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |
        [{"category":"National government agency","description":"U.S. agency focused on minimizing risks  related to hazardous substances.","fact_sheets":182,"full_name":"Agency for Toxic Substances and Disease Registry","methods":40,"source_ids":["ATSDR"],"spectra":0,"substances":1033,"url":"https://www.atsdr.cdc.gov"},{"category":"Vendor","description":"Scientific instrument manufacturer.","fact_sheets":2,"full_name":"Agilent","methods":384,"source_ids":["Agilent"],"spectra":72,"substances":3701,"url":"https://www.agilent.com"},{"category":"Fact sheet database","description":"Project of the Australian Federal Department of Health assessing risks and use of industrial chemicals.","fact_sheets":2141,"full_name":"Australian National Industrial Chemicals Notification and Assessment Sc[...]
