http_interactions:
- request:
    method: POST
    uri: https://hcd.rtpnc.epa.gov/api/resolver/lookup
    body:
      string: '{"fuzzy":"Not","ids":["benzene","toluene","xylene","formaldehyde"],"idsType":"DTXSID","mol":false}'
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: '[{"chemical":{"chemId":"DTXSID3039242","cid":"DTXCID20135","sid":"DTXSID3039242","casrn":"71-43-2","name":"Benzene","smiles":"C1C=CC=CC=1","canonicalSmiles":"C1C=CC=CC=1","inchi":"InChI=1S/C6H6/c1-2-4-6-5-3-1/h1-6H","inchiKey":"UHOVQNZJYSORNB-UHFFFAOYSA-N"},"resolvedBy":"Name","confidence":0.9,"result":"FOUND","query":"benzene","message":"prod_dsstox_10272022","source":"DTX"},{"chemical":{"chemId":"DTXSID7021360","cid":"DTXCID501360","sid":"DTXSID7021360","casrn":"108-88-3","name":"Toluene","smiles":"CC1C=CC=CC=1","canonicalSmiles":"CC1C=CC=CC=1","inchi":"InChI=1S/C7H8/c1-7-5-3-2-4-6-7/h2-6H,1H3","inchiKey":"YXFVVABEGXRONW-UHFFFAOYSA-N"},"resolvedBy":"Name","confidence":0.9,"result":"FOUND","query":"toluene","message":"prod_dsstox_10272022","source":"DTX"},{"chemical":{"chemId":"DTXSID2021446","cid":"DTXCID701079540","sid":"DTXSID2021446","casrn":"1330-20-7","name":"Xylenes","smiles":"C1(C)C=CC=CC=1.C*
        |$;;;;;;;;*$|"},"resolvedBy":"Name","confidence":0.9,"result":"FOUND","query":"xylene","message":"prod_dsstox_10272022","source":"DTX"},{"chemical":{"chemId":"DTXSID7020637","cid":"DTXCID30637","sid":"DTXSID7020637","casrn":"50-00-0","name":"Formaldehyde","smiles":"C=O","canonicalSmiles":"C=O","inchi":"InChI=1S/CH2O/c1-2/h1H2","inchiKey":"WSFSSNUMVMOOMR-UHFFFAOYSA-N"},"resolvedBy":"Name","confidence":0.9,"result":"FOUND","query":"formaldehyde","message":"prod_dsstox_10272022","source":"DTX"}]'
  recorded_at: 2026-01-05 04:07:33
recorded_with: VCR-vcr/2.1.0
