http_interactions:
- request:
    method: GET
    uri: https://hcd.rtpnc.epa.gov/api/amos/search/DTXSID7020182
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |
        {"record_type_counts":{"fact sheet":28,"method":42,"spectrum":173},"records":[{"count":1,"data_type":null,"description":"External link only.","internal_id":"1krzuc5MaS8","link":"https://spectrabase.com/spectrum/1krzuc5MaS8","methodologies":["NMR"],"record_type":"Spectrum","source":"SpectraBase","spectrum_rating":"N/A"},{"count":1,"data_type":null,"description":"External link only.","internal_id":"1NzVpPc974j","link":"https://spectrabase.com/spectrum/1NzVpPc974j","methodologies":["GC/MS"],"record_type":"Spectrum","source":"SpectraBase","spectrum_rating":"N/A"},{"count":1,"data_type":null,"description":"External link only.","internal_id":"1QEQZaMirYO","link":"https://spectrabase.com/spectrum/1QEQZaMirYO","methodologies":["NMR"],"record_type":"Spectrum","source":"SpectraBase","spectrum_rating":"N/A"},{"cou[...]
