http_interactions:
- request:
    method: GET
    uri: https://hcd.rtpnc.epa.gov/api/search/similar?smiles=DTXSID7020182
  response:
    status: 500
    headers:
      Content-Type: application/json
    body:
      string: '{"timestamp":"2026-03-04T20:04:51.587+00:00","status":500,"error":"Internal
        Server Error","message":"molecule auto loader: element: fromString(): element
        T not supported","path":"/api/search/similar"}'
  recorded_at: 2026-03-04 20:04:52
recorded_with: VCR-vcr/2.1.0
