http_interactions:
- request:
    method: GET
    uri: https://hcd.rtpnc.epa.gov/api/alerts/operations
  response:
    status: 200
    headers:
      Content-Type: application/json;charset=UTF-8
    body:
      string: '{"operations":[{"type":"METHOD","text":"Is multi-component?","value":"isMulticomponent","logicType":"NONE"},{"type":"METHOD","text":"Inorganic?","value":"isInorganic","logicType":"NONE"},{"type":"METHOD","text":"Bad
        valence?","value":"hasBadValence","logicType":"NONE"}]}'
  recorded_at: 2026-01-28 18:22:20
recorded_with: VCR-vcr/2.1.0
