http_interactions:
- request:
    method: GET
    uri: https://hcd.rtpnc.epa.gov/api/webtest/predict?smiles=DTXSID7020182&method=consensus
  response:
    status: 500
    headers:
      Content-Type: application/json
    body:
      string: '{"timestamp":"2026-03-04T20:05:31.343+00:00","status":500,"error":"Internal
        Server Error","message":"Cannot invoke \"org.openscience.cdk.interfaces.IAtomContainerSet.atomContainers()\"
        because \"result\" is null","path":"/api/webtest/predict"}'
  recorded_at: 2026-03-04 20:05:31
recorded_with: VCR-vcr/2.1.0
