http_interactions:
- request:
    method: GET
    uri: https://hcd.rtpnc.epa.gov/api/stdizer/groups/recursive/INVALID_DTXSID_12345
  response:
    status: 404
    headers:
      Content-Type: application/json;charset=UTF-8
    body:
      string: '{"timestamp":"2026-03-04T20:04:59.861+00:00","status":404,"error":"Not
        Found","message":"No static resource api/stdizer/groups/recursive/INVALID_DTXSID_12345.","path":"/api/stdizer/groups/recursive/INVALID_DTXSID_12345"}'
  recorded_at: 2026-03-04 20:05:00
recorded_with: VCR-vcr/2.1.0
