http_interactions:
- request:
    method: GET
    uri: https://hcd.rtpnc.epa.gov/api/padel?smiles=DTXSID7020182&2d=TRUE&3d=FALSE&fp=FALSE&headers=FALSE
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: '{"info":{"name":"padel","version":"2.21"},"options":{"headers":false,"timeout":60,"compute2D":true,"compute3D":false,"computeFingerprints":false,"removeSalt":true,"standardizeNitro":true,"standardizeTautomers":false},"chemicals":[]}'
  recorded_at: 2026-03-04 20:02:28
recorded_with: VCR-vcr/2.1.0
