http_interactions:
- request:
    method: GET
    uri: https://hcd.rtpnc.epa.gov/api/amos/formula_search/C6H6
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |
        {"substances":[{"casrn":"821-08-9","dtxcid":"DTXCID00154052","dtxsid":"DTXSID70231561","fact_sheets":0,"image_in_comptox":true,"indigo_inchikey":"AUBDSFLQOBEOPX-UHFFFAOYSA-N","jchem_inchikey":"AUBDSFLQOBEOPX-UHFFFAOYSA-N","literature_count":91,"methods":0,"molecular_formula":"C6H6","monoisotopic_mass":78.04695,"patent_count":1745,"preferred_name":"Divinylacetylene","pubmed_count":0,"smiles":"C=CC#CC=C","source_count":15,"spectra":3},{"casrn":"90866-90-3","dtxcid":"DTXCID00573527","dtxsid":"DTXSID70622773","fact_sheets":0,"image_in_comptox":true,"indigo_inchikey":"LQABCMYNMHGWFU-UHFFFAOYSA-N","jchem_inchikey":"LQABCMYNMHGWFU-UHFFFAOYSA-N","literature_count":7,"methods":0,"molecular_formula":"C6H6","monoisotopic_mass":78.04695,"patent_count":225,"preferred_name":"Cyclohexa-1,2,3-triene","pubmed_count":1,"smiles":"C1CC=C=C=C1","source_count":6,"spectra":0},{"casrn":"497-20-1","dtxcid":"DTXCID801326934","dtxsid":"DTXSID30897[...]
[...]
