http_interactions:
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/bioactivity/aop/search/by-event-number/18
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        [ {
          "id" : 1,
          "toxcastAeid" : 63,
          "entrezGeneId" : 196,
          "eventNumber" : 18,
          "eventLink" : "https://aopwiki.org/events/18",
          "aopNumber" : 21,
          "aopLink" : "https://aopwiki.org/aops/21"
        }, {
          "id" : 2,
          "toxcastAeid" : 806,
          "entrezGeneId" : 196,
          "eventNumber" : 18,
          "eventLink" : "https://aopwiki.org/events/18",
          "aopNumber" : 21,
          "aopLink" : "https://aopwiki.org/aops/21"
        }, {
          "id" : 219,
          "toxcastAeid" : 63,
          "entrezGeneId" : 196,
          "eventNumber" : 18,
          "eventLink" : "https://aopwiki.org/events/18",
          "aopNumber" : 131,
          "aopLink" : "https://aopwiki.org/aops/131"
        }, {
          "id" : 220,
          "toxcastAeid" : 806,
          "entrezGeneId" : 196,
          "eventNumber" : 18,
          "eventLink" : "https://aopwiki.org/events/18",
          "aopNumber" : 131,
          "aopLink" : "https://aopwiki.org/aops/131"
        }, {
          "id" : 256,
          "toxcastAeid" : 63,
          "entrezGeneId" : 196,
          "eventNumber" : 18,
          "eventLink" : "https://aopwiki.org/events/18",
          "aopNumber" : 150,
          "aopLink" : "https://aopwiki.org/aops/150"
        }, {
          "id" : 257,
          "toxcastAeid" : 806,
          "entrezGeneId" : 196,
          "eventNumber" : 18,
          "eventLink" : "https://aopwiki.org/events/18",
          "aopNumber" : 150,
          "aopLink" : "https://aopwiki.org/aops/150"
        } ]
  recorded_at: 2026-03-04 20:05:40
recorded_with: VCR-vcr/2.1.0
