http_interactions:
- request:
    method: POST
    uri: https://comptox.epa.gov/ctx-api/bioactivity/data/search/by-aeid/
    body:
      string: '["DTXSID80726751","DTXSID701030449","DTXSID2044397"]'
  response:
    status: 500
    headers:
      Content-Type: application/json
    body:
      string: |-
        {
          "timestamp" : "2026-03-04T20:06:20.663+00:00",
          "status" : 500,
          "error" : "Internal Server Error",
          "path" : "/bioactivity/data/search/by-aeid/"
        }
  recorded_at: 2026-03-04 20:06:21
recorded_with: VCR-vcr/2.1.0
