http_interactions:
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/bioactivity/assay/single-conc/search/by-aeid/3032?projection=single-conc
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        [ {
          "s2id" : 6448203,
          "aeid" : 3032,
          "spid" : "EX000528",
          "chid" : 863216,
          "casn" : "621-44-3",
          "chnm" : "3-Nitro-L-tyrosine",
          "dsstoxSubstanceId" : "DTXSID80863216",
          "bmad" : 5.8178195132652,
          "maxMed" : 100.0121212,
          "coff" : 20.0,
          "hitc" : 1.0,
          "chidRep" : 1,
          "stkc" : 20.0,
          "stkcUnit" : "mM",
          "testedConcUnit" : "uM",
          "sc1Param" : {
            "conc" : [ 200.0, 1.0, 200.0, 0.2, 200.0, 0.08, 200.0, 0.02, 300.0, 200.0, 0.005, 200.0, 200.0, 5.0E-4, 200.0, 1.0, 200.0, 0.2, 200.0, 0.08, 200.0, 0.02, 300.0, 200.0, 0.005, 200.0, 200.0, 5.0E-4, 200.0, 1.0, 200.0, 0.2, 200.0, 0.08, 200.0, 0.02, 300.0, 200.0, 0.005, 200.0, 200.0, 5.0E-4, 200.0, 200.0, 1.0, 200.0, 0.2, 200.0, 0.08, 300.0, 0.02, 200.0, 0.005, 200.0, 5.0E-4, 200.0, 200.0, 200.0, 1.0, 200.0, 0.2, 200.0, 0.08, 300.0, 0.02, 200.0, 0.005, 200.0, 5.0E-4, 200.0, 200.0, 200.0, 1.0, 200.0, 0.2, 2[...]
