http_interactions:
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/bioactivity/assay/search/by-gene/TUBA1A
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        [ {
          "aeid" : 8,
          "geneSymbol" : "TUBA1A",
          "assayComponentEndpointName" : "APR_HepG2_MicrotubuleCSK_1hr",
          "assayComponentEndpointDesc" : "Data from the assay component APR_HepG2_MicrotubuleCSK_1hr was analyzed into 1 assay endpoint. \nThis assay endpoint, APR_HepG2_MicrotubuleCSK_1hr, was analyzed with bidirectional fitting relative to DMSO as the negative control and baseline of activity. \nUsing a type of conformation reporter, measures of protein for gain or loss-of-signal activity can be used to understand the signaling at the cellular-level. \nFurthermore, this assay endpoint can be referred to as a primary readout, because this assay has produced multiple assay endpoints where this one serves a signaling function. \nTo generalize the intended target to other relatable targets, this assay endpoint is annotated to the cell morphology intended target family, where the subfamily is cell conformation.",
          "multiConcActives" : "1/310(0.32%)",
          "singleConcActive" : null
        }, {
          "aeid" : 28,
          "geneSymbol" : "TUBA1A",
          "assayComponentEndpointName" : "APR_HepG2_MicrotubuleCSK_24hr",
          "assayComponentEndpointDesc" : "Data from the assay component APR_HepG2_MicrotubuleCSK_24hr was analyzed into 1 assay endpoint. \nThis assay endpoint, APR_HepG2_MicrotubuleCSK_24hr, was analyzed with bidirectional fitting relative to DMSO as the negative control and baseline of activity. \nUsing a type of conformation reporter, measures [...]
