http_interactions:
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/bioactivity/data/aed/search/by-dtxsid/DTXSID7020182
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        [ {
          "dtxsid" : "DTXSID7020182",
          "preferredName" : "Bisphenol A",
          "aeid" : 2386,
          "aenm" : null,
          "aedVal" : [ 0.4274, 0.3691, 1.107, 1.183, 2.459, 7.307, 2.35, 7.675, 6.961, 1.398, 1.364, 7.247 ],
          "aedType" : [ "aed.bmd.pbtk95", "aed.bmd.3css95", "aed.acc.pbtk95", "aed.ac50.3css95", "aed.bmd.3css50", "aed.acc.3css50", "aed.bmd.pbtk50", "aed.acc.pbtk50", "aed.ac50.pbtk50", "aed.ac50.pbtk95", "aed.acc.3css95", "aed.ac50.3css50" ],
          "httkModel" : [ "PBTK", "3compartmentss", "PBTK", "3compartmentss", "3compartmentss", "3compartmentss", "PBTK", "PBTK", "PBTK", "PBTK", "3compartmentss", "3compartmentss" ],
          "aedValUnit" : [ "mg/kg/day", "mg/kg/day", "mg/kg/day", "mg/kg/day", "mg/kg/day", "mg/kg/day", "mg/kg/day", "mg/kg/day", "mg/kg/day", "mg/kg/day", "mg/kg/day", "mg/kg/day" ],
          "httkVersion" : [ "httk_v_2_3_1", "httk_v_2_3_1", "httk_v_2_3_1", "httk_v_2_3_1", "httk_v_2_3_1", "httk_v_2_3_1", "httk_v_2_3_1", "httk_v_2_3_1", "httk_v_2_3_1", "httk_v_2_3_1", "httk_v_2_3_1", "httk_v_2_3_1" ],
          "potencyValType" : [ "bmd", "bmd", "acc", "ac50", "bmd", "acc", "bmd", "acc", "ac50", "ac50", "acc", "ac50" ],
          "invitrodbVersion" : [ "invitrodb_v_4_2", "invitrodb_v_4_2", "invitrodb_v_4_2", "invitrodb_v_4_2", "invitrodb_v_4_2", "invitrodb_v_4_2", "invitrodb_v_4_2", "invitrodb_v_4_2", "invitrodb_v_4_2", "invitrodb_v_4_2", "invitrodb_v_4_2", "invitrodb_v_4_2" ],
          "interindividualVarPerc" : [ 95.0, 95.0, 95.0, 95.0, 50.0, 50.0, 50.0, 50.0, 50.0, 95.0, 95.0, 50.0 ]
        }, {
          "dtxsid" : "DTXSID7020182",
          "preferredName" : "Bisphenol A",
          "aeid" : 2387,
          "aenm" : null,
          "aedVal" : [ 4.271, 28.65, 4.871, 29.83, 29.02, 5.305, 41.29, 6.805, 30.08, 5.891, 4.142, 43.86 ],
          "aedType" : [ "aed.acc.pbtk95", "aed.acc.pbtk50", "aed.acc.3css95", "aed.bmd.3css50", "aed.acc.3css50", "aed.bmd.3css95", "aed.ac50.pbtk50", "aed.ac50.pbtk95", "[...]
