http_interactions:
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/bioactivity/data/summary/search/by-dtxsid/DTXSID7020182
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        [ {
          "dtxsid" : "DTXSID7020182",
          "activeMc" : 236,
          "totalMc" : 981,
          "activeSc" : 39,
          "totalSc" : 383,
          "cytotoxMedianRaw" : 1.647829,
          "cytotoxMad" : 0.25084555,
          "globalMad" : 0.17031652,
          "cytotoxMedianLog" : 1.647829,
          "cytotoxMedianUm" : 44.445625,
          "cytotoxLowerUm" : 13.705014,
          "cytotoxLowerLog" : 1.1368794,
          "ntested" : 87.0,
          "nhit" : 16.0
        } ]
  recorded_at: 2026-03-04 20:06:14
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/bioactivity/data/summary/search/by-dtxsid/DTXSID5032381
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: '[ ]'
  recorded_at: 2026-03-04 20:06:14
recorded_with: VCR-vcr/2.1.0
