http_interactions:
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/bioactivity/data/search/by-m4id/DTXSID7020182
  response:
    status: 400
    headers:
      Content-Type: application/json
      Cneonction: close
    body:
      string: |-
        {
          "timestamp" : "2026-03-04T20:06:24.972+00:00",
          "status" : 400,
          "error" : "Bad Request",
          "path" : "/bioactivity/data/search/by-m4id/DTXSID7020182"
        }
  recorded_at: 2026-03-04 20:06:25
[...]
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/bioactivity/data/search/by-m4id/DTXSID8024291
  response:
    status: 400
    headers:
      Content-Type: application/json
      Cneonction: close
    body:
      string: |-
        {
          "timestamp" : "2026-03-04T20:06:25.178+00:00",
          "status" : 400,
          "error" : "Bad Request",
          "path" : "/bioactivity/data/search/by-m4id/DTXSID8024291"
        }
  recorded_at: 2026-03-04 20:06:25
recorded_with: VCR-vcr/2.1.0
