http_interactions:
- request:
    method: POST
    uri: https://comptox.epa.gov/ctx-api/bioactivity/data/aed/search/by-dtxsid/
    body:
      string: '["DTXSID601026093","DTXSID30203567","DTXSID7022883"]'
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        [ {
          "dtxsid" : "DTXSID7022883",
          "preferredName" : "Daunorubicin",
          "aeid" : 1329,
          "aenm" : "TOX21_p53_BLA_p5_ratio",
          "aedVal" : [ 0.01965, 0.04029, 0.01085, 0.01061, 0.05953, 0.02195, 0.04626, 0.1075, 0.1167, 0.06029, 0.2402, 0.2512 ],
          "aedType" : [ "aed.acc.3css95", "aed.ac50.3css95", "aed.bmd.pbtk95", "aed.bmd.3css95", "aed.bmd.pbtk50", "aed.acc.pbtk95", "aed.ac50.pbtk95", "aed.acc.3css50", "aed.acc.pbtk50", "aed.bmd.3css50", "aed.ac50.3css50", "aed.ac50.pbtk50" ],
          "httkModel" : [ "3compartmentss", "3compartmentss", "PBTK", "3compartmentss", "PBTK", "PBTK", "PBTK", "3compartmentss", "PBTK", "3compartmentss", "3compartmentss", "PBTK" ],
          "aedValUnit" : [ "mg/kg/day", "mg/kg/day", "mg/kg/day", "mg/kg/day", "mg/kg/day", "mg/kg/day", "mg/kg/day", "mg/kg/day", "mg/kg/day", "mg/kg/day", "mg/kg/day", "mg/kg/day" ],
          "httkVersion" : [ "httk_v_2_3_1", "httk_v_2_3_1", "httk_v_2_3_1", "httk_v_2_3_1", "httk_v_2_3_1", "httk_v_2_3_1", "httk_v_2_3_1", "httk_v_2_3_1", "httk_v_2_3_1", "httk_v_2_3_1", "httk_v_2_3_1", "httk_v_2_3_1" ],
          "potencyValType" : [ "acc", "ac50", "bmd", "bmd", "bmd", "acc", "ac50", "acc", "acc", "bmd", "ac50", "ac50" ],
          "invitrodbVersion" : [ "invitrodb_v_4_2", "invitrodb_v_4_2", "invitrodb_v_4_2", "invitrodb_v_4_2", "invitrodb_v_4_2", "invitrodb_v_4_2", "invitrodb_v_4_2", "invitrodb_v_4_2", "invitrodb_v_4_2", "invitrodb_v_4_2", "invitrodb_v_4_2", "invitrodb_v_4_2" ],
          "interindividualVarPerc" : [ 95.0, 95.0, 95.0, 95.0, 50.0, 95.0, 95.0, 50.0, 50.0, 50.0, 50.0, 50.0 ]
        }, {
          "dtxsid" : "DTXSID7022883",
          "preferredName" : "Daunorubicin",
          "aeid" : 761,
          "aenm" : "TOX21_AR_BLA_Agonist_ratio",
          "aedVal" : [ 0.06891, 0.06015, 0.0926, 0.0675, 0.01051, 0.01152, 0.01582, 0.01355, 0.06238, 0.01672, 0.01315, 0.09201 ],
          "aedType" : [ "aed.acc.pbtk50", "aed.bmd.pbtk50", "aed.ac50.pbtk50", "aed.acc.3css50", "aed.bmd.pbtk95", "aed.bmd.3[...]
