http_interactions:
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/bioactivity/assay/chemicals/search/by-aeid/DTXSID7020182?projection=dtxsidsonly
  response:
    status: 400
    headers:
      Content-Type: application/json
      Cneonction: close
    body:
      string: |-
        {
          "timestamp" : "2026-03-04T20:05:52.747+00:00",
          "status" : 400,
          "error" : "Bad Request",
          "path" : "/bioactivity/assay/chemicals/search/by-aeid/DTXSID7020182"
        }
  recorded_at: 2026-03-04 20:05:53
[...]
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/bioactivity/assay/chemicals/search/by-aeid/DTXSID8024291?projection=dtxsidsonly
  response:
    status: 400
    headers:
      Content-Type: application/json
      Cneonction: close
    body:
      string: |-
        {
          "timestamp" : "2026-03-04T20:05:52.970+00:00",
          "status" : 400,
          "error" : "Bad Request",
          "path" : "/bioactivity/assay/chemicals/search/by-aeid/DTXSID8024291"
        }
  recorded_at: 2026-03-04 20:05:53
recorded_with: VCR-vcr/2.1.0
