http_interactions:
- request:
    method: POST
    uri: https://comptox.epa.gov/ctx-api/bioactivity/data/search/by-m4id/
    body:
      string: '["DTXSID7020182","DTXSID10161156","DTXSID9020035"]'
  response:
    status: 500
    headers:
      Content-Type: application/json
    body:
      string: |-
        {
          "timestamp" : "2026-03-04T20:06:27.297+00:00",
          "status" : 500,
          "error" : "Internal Server Error",
          "path" : "/bioactivity/data/search/by-m4id/"
        }
  recorded_at: 2026-03-04 20:06:27
recorded_with: VCR-vcr/2.1.0
