http_interactions:
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/bioactivity/analyticalqc/search/by-dtxsid/DTXSID7020182
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        [ {
          "analyticalQcId" : 28321,
          "dtxsid" : "DTXSID7020182",
          "chnm" : "Bisphenol A",
          "spid" : null,
          "qcLevel" : "substance",
          "t0" : "A",
          "t4" : "A",
          "call" : "S",
          "annotation" : "Pure and Stable over time",
          "flags" : null,
          "averageMass" : "228.1150298",
          "log10VaporPressureOperaPred" : "-7.168823475",
          "logkowOctanolWaterOperaPred" : "3.32044",
          "exportDate" : "2025-03-05",
          "dataVersion" : "prod_internal_invitrodb_v4_2",
          "porCaution" : "pass"
        }, {
          "analyticalQcId" : 28322,
          "dtxsid" : "DTXSID7020182",
          "chnm" : "Bisphenol A",
          "spid" : null,
          "qcLevel" : "sample",
          "t0" : "A",
          "t4" : "A",
          "call" : "S",
          "annotation" : null,
          "flags" : null,
          "averageMass" : "228.1150298",
          "log10VaporPressureOperaPred" : "-7.168823475",
          "logkowOctanolWaterOperaPred" : "3.32044",
          "exportDate" : "2025-03-05"[...]
