http_interactions:
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/bioactivity/assay/chemicals/search/by-aeid/INVALID_DTXSID_12345?projection=dtxsidsonly
  response:
    status: 400
    headers:
      Content-Type: application/json
      Cneonction: close
    body:
      string: |-
        {
          "timestamp" : "2026-03-04T20:05:53.293+00:00",
          "status" : 400,
          "error" : "Bad Request",
          "path" : "/bioactivity/assay/chemicals/search/by-aeid/INVALID_DTXSID_12345"
        }
  recorded_at: 2026-03-04 20:05:53
recorded_with: VCR-vcr/2.1.0
