http_interactions:
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/bioactivity/models/search/by-dtxsid/DTXSID7020182
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        [ {
          "id" : 1197521,
          "dtxsid" : "DTXSID7020182",
          "model" : "COMPARA (Consensus)",
          "receptor" : "Androgen",
          "agonist" : "0",
          "antagonist" : "1",
          "binding" : "1",
          "modelDesc" : "CoMPARA is a larger scale collaboration between 35 international groups,\n using QSAR models to predict androgen receptor activity using a common\n training set of 1746 compounds provided by U.S. EPA. A key result is a\n consensus model of AR agonist and antagonist activity that is run against\n the DSSTox chemical library. These results are intended to be used in\n prioritization for compounds for follow-up testing. More details about\n the project are available on <a href='https://www.resear[...]
