http_interactions:
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/bioactivity/assay/single-conc/search/by-aeid/DTXSID7020182?projection=single-conc
  response:
    status: 400
    headers:
      Content-Type: application/json
      Cneonction: close
    body:
      string: |-
        {
          "timestamp" : "2026-03-04T20:06:02.062+00:00",
          "status" : 400,
          "error" : "Bad Request",
          "path" : "/bioactivity/assay/single-conc/search/by-aeid/DTXSID7020182"
        }
  recorded_at: 2026-03-04 20:06:02
recorded_with: VCR-vcr/2.1.0
