http_interactions:
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/bioactivity/aop/search/by-toxcast-aeid/DTXSID7020182
  response:
    status: 400
    headers:
      Content-Type: application/json
    body:
      string: |-
        {
          "timestamp" : "2026-03-04T20:05:41.696+00:00",
          "status" : 400,
          "error" : "Bad Request",
          "path" : "/bioactivity/aop/search/by-toxcast-aeid/DTXSID7020182"
        }
  recorded_at: 2026-03-04 20:05:42
[...]
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/bioactivity/aop/search/by-toxcast-aeid/DTXSID8024291
  response:
    status: 400
    headers:
      Content-Type: application/json
    body:
      string: |-
        {
          "timestamp" : "2026-03-04T20:05:42.457+00:00",
          "status" : 400,
          "error" : "Bad Request",
          "path" : "/bioactivity/aop/search/by-toxcast-aeid/DTXSID8024291"
        }
  recorded_at: 2026-03-04 20:05:42
recorded_with: VCR-vcr/2.1.0
