http_interactions:
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/bioactivity/aop/search/by-event-number/INVALID_DTXSID_12345
  response:
    status: 400
    headers:
      Content-Type: application/json
    body:
      string: |-
        {
          "timestamp" : "2026-03-04T20:05:40.283+00:00",
          "status" : 400,
          "error" : "Bad Request",
          "path" : "/bioactivity/aop/search/by-event-number/INVALID_DTXSID_12345"
        }
  recorded_at: 2026-03-04 20:05:40
recorded_with: VCR-vcr/2.1.0
