http_interactions:
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/chemical/fate/summary/search/by-dtxsid/DTXSID7020182
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        [ {
          "unit" : "cm^3/molecule*sec",
          "predictedCount" : 1,
          "predictedMax" : 1.6218102E-11,
          "experimentalMax" : null,
          "predictedMin" : 1.6218102E-11,
          "predictedMedian" : 1.6218102E-11,
          "experimentalMin" : null,
          "propName" : "Atmos. Hydroxylation Rate",
          "experimentalMedian" : null,
          "experimentalAverage" : null,
          "predictedAverage" : 1.6218102E-11,
          "experimentalCount" : 0
        }, {
          "unit" : "L/kg",
          "predictedCount" : 2,
          "predictedMax" : 117.26639,
          "experimentalMax" : 67.7,
          "predictedMin" : 43.651585,
          "predictedMedian" : 80.458984,
          "experimentalMin" : 1.7,
          "propName" : "Bioconcentration Factor",
          "experimentalMedian" : 13.3,
          "experimentalAverage" : 21.550144,
          "predictedAverage" : 80.458984,
          "experimentalCount" : 11
        }, {
          "un[...]
