http_interactions:
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/chemical/extra-data/search/by-dtxsid/DTXSID7020182
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        [ {
          "dtxsid" : "DTXSID7020182",
          "dtxcid" : 6623,
          "refs" : 112,
          "googlePatent" : 253889,
          "literature" : 22083,
          "pubmed" : 8825
        } ]
  recorded_at: 2026-03-04 20:07:14
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/chemical/extra-data/search/by-dtxsid/DTXSID5032381
  response:
    status: 400
    headers:
      Content-Type: application/problem+json
      nnCoection: close
    body:
      raw_gzip: |-
        eJxVzTEPwiAQhuG9v+LCbKVaTUxH08VVHVyvcKZEBC2HtjH+dxUm13svz/cqAARPNxLQgMDO
        R246i+4
        iZqkYtjltUcOe7pEC5xQYOYZfW1VVumhiNDZ9ax6D0fA03MMDbSRoj6fDrl1X9bLe
        LMB5hrOPTs8zZt
        yXcypPSdXT1Si0kkYesNTIKAPhoHrZTWW25R8oivcHXHI8Zg==
  recorded_at: 2026-03-04 20:07:14
recorded_with: VCR-vcr/2.1.0
