http_interactions:
- request:
    method: POST
    uri: https://comptox.epa.gov/ctx-api/chemical/fate/search/by-dtxsid/
    body:
      string: '["DTXSID901336271","DTXSID301054196","DTXSID6026296"]'
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        [ {
          "dtxsid" : "DTXSID6026296",
          "properties" : [ {
            "propName" : "Bioconcentration Factor",
            "experimentalFateData" : [ ],
            "predictedFateData" : [ {
              "id" : 41931031,
              "dtxsid" : "DTXSID6026296",
              "dtxcid" : "DTXCID106296",
              "smiles" : "O",
              "canon_qsar_smiles" : "N/A",
              "generic_substance_updated_at" : "2022-03-22T00:00:00",
              "prop_name" : "Bioconcentration Factor",
              "prop_type" : "predicted",
              "prop_category" : "Env. Fate/transport",
              "property_description" : "Bioconcentration factor: the ratio of the chemical concentration in fish as a result of absorption via the respiratory surface to that in water at steady state",
              "model_name" : "TEST_BCF",
              "model_id" : 227,
              "source_name" : "TEST5.1.3",
              "source_description" : "<a href=\"https://www.epa.gov/chemical-research/toxicity-estimation-software-tool-test\">TEST5.1.3</a> is a free suite of QSAR Models to predict physicochemical properties and toxicity endpoints as described in the <a href=\"https://www.epa.gov/sites/production/files/2016-05/documents/600r16058.pdf\" target=\"_blank\">user guide</a>.  ",
              "prop_value_experimental" : null,
              "prop_value_experimental_string" : null,
              "prop_value" : null,
              "prop_unit" : "L/kg",
              "prop_value_string" : null,
              "prop_value_error" : "Invalid structure: only one nonhydrogen atom",
              "ad_method" : "Combined Applicability Domain",
              "ad_value" : 0,
              "ad_conclusion" : "Outside",
              "ad_reasoning" : "Invalid structure: only one nonhydrogen atom",
              "ad_method_global" : null,
              "ad_value_global" : null,
              "ad_conclusion_global" : null,
              "ad_reasoning_global" : null,
              "has_qmrf" : false,
              "qmrf_url" : null,
              "export_date" : "2025-12-03",
              "data_version" : "3.0.0"
            } ]
          } ]
        }, {
          "dtxsid" : "DTXSID901336271",
          "properties" : [ {
            "propName" : "Atmos. Hydroxylation Rate",
            "experimentalFateData" : [ ],
            "predictedFateData" : [ {
              "id" : 60778454,
              "dtxsid" : "DTXSID901336271",
              "dtxcid" : "DTXCID201766431",
              "smiles" : "[N-]=[N+]=NC(N=[N+]=[N-])=NN1N=NN=C1N=[N+]=[N-]",
              "canon_qsar_smiles" : "[N-]=[N+]=NC1[...]
