http_interactions:
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/chemical/detail/search/by-dtxsid/DTXSID7020182?projection=chemicaldetailall
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        {
          "id" : 923260,
          "inchikey" : "IISBACLAFKSPIT-UHFFFAOYSA-N",
          "wikipediaArticle" : "Bisphenol_A",
          "cpdataCount" : 292,
          "dtxsid" : "DTXSID7020182",
          "dtxcid" : "DTXCID30182",
          "casrn" : "80-05-7",
          "compoundId" : 182,
          "genericSubstanceId" : 20182,
          "preferredName" : "Bisphenol A",
          "activeAssays" : 236,
          "molFormula" : "C15H16O2",
          "monoisotopicMass" : 228.115029755,
          "percentAssays" : 24.0,
          "pubchemCount" : null,
          "pubmedCount" : 3850.0,
          "sourcesCount" : 176,
          "qcLevel" : 1,
          "qcLevelDesc" : "Level 1: Expert curated, highest confidence in accuracy and consistency of unique chemical identifiers",
          "stereo" : "0",
          "isotope" : 0,
          "multicomponent" : 0,
          "totalAssays" : 981,
          "toxcastSelect" : "236/981",
          "pubchemCid" : null,
          "relatedSubstanceCount" : 154,
          "relatedStructureCount" : 25,
          "hasStructureImage" : 1,
          "iupacName" : null,
          "smiles" : "CC(C)(C1=CC=C(O)C=C1)C1=CC=C(O)C=C1",
          "inchiString" : "InChI=1S/C15H16O2/c1-15(2,11-3-7-13(16)8-4-11)12-5-9-14(17)10-6-12/h3-10,16-17H,1-2H3\n",
          "averageMass" : 228.291,
          "qcNotes" : "Repeating chemical structure unit of Polycarbonate made from bisphenol A",
          "qsarReadySmiles" : "[13CH3]C([13CH3])(C1=CC=C(O)C=C1)C1=CC=C(O)C=C1,[2H]C1=C([2H])C(=C([2H])C([2H])=C1O)C(C)(C)C1=C([2H])C([2H])=C(O)C([2H])=C1[2H],[2H]C([2H])([2H])C(C1=CC=C(O)C=C1)(C1=CC=C(O)C=C1)C([2H])([2H])[2H],[2H]OC1=C([2H])C([2H])=C(C([2H])=C1[2H])C(C1=C([2H])C([2H])=C(O[2H])C([2H])=C1[2H])(C([2H])([2H])[2H])C([2H])([2H])[2H],[Ba++].CC(C)(C1=CC=C([O-])C=C1)C1=CC=C([O-])C=C1,CC(C)([13C]1=[13CH][13CH]=[13C](O)[13CH]=[13CH]1)[13C]1=[13CH][13CH]=[13C](O)[13CH]=[13CH]1,CC(C)(C1=CC=C(O)C=C1)C1=CC=C(O)C=C1,CS(O)(=O)=O.CS(O)(=O)=O.CC(C)(C1=CC=C(O)C=C1)C1=CC=C(O)C=C1,[Na+].[Na+].CC(C)(C1=CC=C([O-])C=C1)C1=CC=C([O-])C=C1,O=C1CCCCCO1.CC(C)(C1=CC=C(O)C=C1)C1=CC=C(O)C=C1,OC(O)=O.CC(C)(C1=CC=C(O)C=C1)C1=CC=C(O)C=C1.CC(C)(C1=CC=C(O)C=C1)C1=CC=C(O)C=C1,OP(O)O.CC(C)(C1=CC=C(O)C=C1)C1=CC=C(O)C=C1.CC(C)(C1=CC=C(O)C=C1)C1=CC=C(O)C=C1.CC(C)(C1=CC=C(O)C=C1)C1=CC=C(O)C=C1",
          "msReadySmiles" : "[13CH3]C([13CH3])(C1=CC=C(O)C=C1)C1=CC=C(O)C=C1,[2H]C1=C([2H])C(=C([2H])C([2H])=C1O)C(C)(C)C1=C([2H])C([2H])=C(O)C([2H])=C1[2H],[2H]C([2H])([2H])C(C1=CC=C(O)C=C1)(C1=CC=C(O)C=C1)C([2H])([2H])[2H],[2H]OC1=C([2H])C([2H])=C(C([2H])=C1[2H])C(C1=C([2H])C([2H])=C(O[2H])C([2H])=C1[2H])(C([2H])([2H])[2H])C([2H])([2H])[2H],[Ba++].CC(C)(C1=CC=C([O-])C=C1)C1=CC=C([O-])C=C1,BrCC(Br)COCC(Br)CBr.CC(C)(C1=CC=C(O)C=C1)C1=CC=C(O)C=C1,CC(C)([13C]1=[13CH][13CH]=[13C](O)[13CH]=[13CH]1)[13C]1=[13CH][13CH]=[13C](O)[...]
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/chemical/detail/search/by-dtxsid/DTXSID5032381?projection=chemicaldetailall
  response:
    status: 400
    headers:
      Content-Type: application/problem+json
    body:
      raw_gzip: |-
        eJxVzTEPwiAQhuG9v+LCrFKtJqaj6eKqDq5XOAMRQeVQG+N/V2Hqeu/l+d4VgODhSgJaENiH
        xG3v0J/
        FJBfLrqQNatjRLVHkkiIjp/hvy7rOF02M1uVvza9oNTwtG3igSwTd4bjfdqu6WTTr
        OfjAcArJ61nBrP
        9xXpUpqQxdrEIniygj4V0Z2Q/T4soRJqrPF2TmOu4=
  recorded_at: 2026-03-04 20:06:58
recorded_with: VCR-vcr/2.1.0
