http_interactions:
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/chemical/search/start-with/DTXSID7020182?top=500
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        [ {
          "dtxsid" : "DTXSID7020182",
          "dtxcid" : "DTXCID30182",
          "casrn" : "80-05-7",
          "preferredName" : "Bisphenol A",
          "hasStructureImage" : 1,
          "smiles" : "CC(C)(C1=CC=C(O)C=C1)C1=CC=C(O)C=C1",
          "isMarkush" : false,
          "searchName" : "DSSTox_Substance_Id",
          "searchValue" : "DTXSID7020182",
          "rank" : 1
        } ]
  recorded_at: 2026-03-04 20:09:18
recorded_with: VCR-vcr/2.1.0
