http_interactions:
- request:
    method: POST
    uri: https://comptox.epa.gov/ctx-api/chemical/extra-data/search/by-dtxsid/
    body:
      string: '["DTXSID10894891","DTXSID9049409","DTXSID3026148"]'
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        [ {
          "dtxsid" : "DTXSID10894891",
          "dtxcid" : 13879826,
          "refs" : 7,
          "googlePatent" : 260,
          "literature" : null,
          "pubmed" : null
        }, {
          "dtxsid" : "DTXSID3026148",
          "dtxcid" : 261491,
          "refs" : 42,
          "googlePatent" : 4092,
          "literature" : 1320,
          "pubmed" : 202
        }, {
          "dtxsid" : "DTXSID9049409",
          "dtxcid" : 17913,
          "refs" : 48,
          "googlePatent" : 9887,
          "literature" : 719,
          "pubmed" : 202
        } ]
  recorded_at: 2026-03-04 20:07:14
recorded_with: VCR-vcr/2.1.0
