http_interactions:
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/chemical/list/search/by-type/other?projection=chemicallistall
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        [ {
          "id" : 363,
          "listName" : "ACSREAG",
          "label" : "LIST: ACS Reagent Chemicals",
          "type" : "other",
          "shortDescription" : "The ACS Committee on Analytical Reagents sets purity specifications for almost 500 reagent chemicals and over 500 standard-grade reference materials.",
          "longDescription" : "The ACS Committee on Analytical Reagents sets purity specifications for almost 500 reagent chemicals and over 500 standard-grade reference materials. These specifications have become the de facto standards for chemicals used in many high-purity applications. In addition to detailing these specifications, ACS Reagent Chemicals provides general physical properties and analytical uses for all reagent chemicals as well as guidelines for standard analytical methods. The online book is available at <a href='https://pubs.acs.org/isbn/9780841230460' target='_blank'>https://pubs.acs.org/isbn/9780841230460</a>",
          "chemicalCount" : 414,
          "updatedAt" : "2022-05-19T09:48:41Z"
        }, {
          "id" : 976,
          "listName" : "AGCHEMWEAPONS",
          "label" : "WEAPONS: Australia Group",
          "type" : "other",
          "shortDescription" : "The Australia Group (AG) is an informal coalition of like-minded states committed to preventing the proliferation of chemical and biological weapons.",
          "longDescription" : "The Australia Group (AG) is an informal coalition of like-minded states committed to preventing the proliferat[...]
