http_interactions:
- request:
    method: POST
    uri: https://comptox.epa.gov/ctx-api/chemical/search/equal/
    body:
      string: |-
        DTXSID7020182
        DTXSID9020112
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        [ {
          "dtxsid" : "DTXSID7020182",
          "dtxcid" : "DTXCID30182",
          "casrn" : "80-05-7",
          "smiles" : "CC(C)(C1=CC=C(O)C=C1)C1=CC=C(O)C=C1",
          "preferredName" : "Bisphenol A",
          "searchName" : "DSSTox_Substance_Id",
          "searchValue" : "DTXSID7020182",
          "rank" : 1,
          "hasStructureImage" : 1,
          "isMarkush" : false,
          "searchMsgs" : null,
          "suggestions" : null,
          "isDuplicate" : false
        }, {
          "dtxsid" : "DTXSID9020112",
          "dtxcid" : "DTXCID90112",
          "casrn" : "1912-24-9",
          "smiles" : "CCNC1=NC(NC(C)C)=NC(Cl)=N1",
          "preferredName" : "Atrazine",
          "searchName" : "DSSTox_Substance_Id",
          "searchValue" : "DTXSID9020112",
          "rank" : 1,
          "hasStructureImage" : 1,
          "isMarkush" : false,
          "searchMsgs" : null,
          "suggestions" : null,
          "isDuplicate" : false
        } ]
  recorded_at: 2026-03-04 20:09:17
recorded_with: VCR-vcr/2.1.0
