http_interactions:
- request:
    method: POST
    uri: https://comptox.epa.gov/ctx-api/chemical/detail/search/by-dtxsid/
    body:
      string: '["DTXSID5044946","DTXSID1023786","DTXSID7043792"]'
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        [ {
          "id" : 174229,
          "inchikey" : "HAMGRBXTJNITHG-UHFFFAOYSA-N",
          "wikipediaArticle" : "Methyl_isocyanate",
          "dtxsid" : "DTXSID1023786",
          "dtxcid" : "DTXCID503786",
          "casrn" : "624-83-9",
          "compoundId" : 3786,
          "genericSubstanceId" : 23786,
          "preferredName" : "Methyl isocyanate",
          "activeAssays" : 3,
          "cpdataCount" : null,
          "molFormula" : "C2H3NO",
          "monoisotopicMass" : 57.021463721,
          "percentAssays" : 1.0,
          "pubchemCount" : 94,
          "pubmedCount" : 287.0,
          "sourcesCount" : 92,
          "qcLevel" : 1,
          "qcLevelDesc" : "Level 1: Expert curated, highest confidence in accuracy and consistency of unique chemical identifiers",
          "stereo" : "0",
          "isotope" : 0,
          "multicomponent" : 0,
          "totalAssays" : 244,
          "toxcastSelect" : "3/244",
          "pubchemCid" : 12228,
          "relatedSubstanceCount" : 0,
          "relatedStructureCount" : 0,
          "hasStructureImage" : 1,
          "iupacName" : "Isocyanatomethane",
          "smiles" : "CN=C=O",
          "inchiString" : "InChI=1S/C2H3NO/c1-3-2-4/h1H3\n",
          "averageMass" : 57.052,
          "qcNotes" : null,
          "qsarReadySmiles" : "[2H]C([2H])([2H])N=C=O,CN=C=O",
          "msReadySmiles" : "[2H]C([2H])([2H])N=C=O,CN=C=O,CN=C=O.C1=CC=NC=C1,[Mo].[C-]#[O+].[C-]#[O+].[C-]#[O+].[CH2-]N=C=O.[CH-]1[C-]=[C-][C-]=[C-]1",
          "irisLink" : "527",
          "pprtvLink" : null,
          "descriptorStringTsv" : "0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t1\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t[...]
