http_interactions:
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/chemical/search/equal/DTXSID7020182?projection=chemicalsearchall
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        [ {
          "dtxsid" : "DTXSID7020182",
          "dtxcid" : "DTXCID30182",
          "casrn" : "80-05-7",
          "preferredName" : "Bisphenol A",
          "hasStructureImage" : 1,
          "smiles" : "CC(C)(C1=CC=C(O)C=C1)C1=CC=C(O)C=C1",
          "isMarkush" : false,
          "searchName" : "DSSTox_Substance_Id",
          "searchValue" : "DTXSID7020182",
          "rank" : 1
        } ]
  recorded_at: 2026-03-04 20:09:17
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/chemical/search/equal/DTXSID5032381?projection=chemicalsearchall
  response:
    status: 400
    headers:
      Content-Type: application/problem+json
      nnCoection: close
    body:
      raw_gzip: |-
        eJxVjrEKwjAQhvc+xdGli9hoFaSjFKGrdRDEIWliDcZEm7uhiO9uTFwc777//vteGUCO00Pl
        UEPOhSO
        sheH2ls8i0WgS2nIJe/Uk5TEhjxzJf9mKsbiRCrk2Md0pPvZXJUFM0ByO0JEIedsr
        aGUNO0dWAoNReT
        Lo4eJGKEKsa5s1q5bVZlHM0xNt01ksLUPjXffclD7Wl0EnDH+HPzcahiCq
        nY2CJ7BkDJyz9weUm0Zk
  recorded_at: 2026-03-04 20:09:18
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/chemical/search/equal/DTXSID8024291?projection=chemicalsearchall
  response:
    status: 400
    headers:
      Content-Type: application/problem+json
      nnCoection: close
    body:
      raw_gzip: |-
        eJxVjrEOgjAQhnee4sLCYqQSBmU0xIRVHEyMQ0srNtZW6d1AjO9ubV0c777//vteGUCO80Pl
        0EDOhSN
        shOH2li8i0WgS2nIJe/Uk5TEhjxzJf1nNWNxIhVybmO4Vn4arkiBmaA9H6EmEvB0U
        dLKBnSMrgcGkPB
        n0cHETFCHWd+2aVXW1WRXL9ETbdBZLy9B41wM3pY/1ZdAJw9/hz43GMYhq
        Z6PgCSwZA+fs/QGWpUZs
  recorded_at: 2026-03-04 20:09:18
recorded_with: VCR-vcr/2.1.0
