http_interactions:
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/chemical/search/start-with/DTXSID7020182?top=500
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        [ {
          "dtxsid" : "DTXSID7020182",
          "dtxcid" : "DTXCID30182",
          "casrn" : "80-05-7",
          "preferredName" : "Bisphenol A",
          "hasStructureImage" : 1,
          "smiles" : "CC(C)(C1=CC=C(O)C=C1)C1=CC=C(O)C=C1",
          "isMarkush" : false,
          "searchName" : "DSSTox_Substance_Id",
          "searchValue" : "DTXSID7020182",
          "rank" : 1
        } ]
  recorded_at: 2026-03-04 20:09:19
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/chemical/search/start-with/DTXSID5032381?top=500
  response:
    status: 400
    headers:
      Content-Type: application/problem+json
    body:
      raw_gzip: |-
        eJxVjrEKwjAURXe/4tGli9poFaSjFKGrdRDEIWliG4yJJi9IEf/dmLi4vnPvfec1AchwvIsM
        KsgoMx4
        rpqi+ZtNIJKqEtpTDXjy8cJiQQ4refdmKkHjhAqlUMd0KartBcGAj1IcjtJ6FvO4E
        NLyCnfGaAwErnF
        fo4GIs5CHWNvWalMtys8jn6YnUqRZHi7B4kx1VhYvzRWAWZ0+JQ/HX/gn6
        vg+20uhoeQLtlYLz5P0BF
        QZIYw==
  recorded_at: 2026-03-04 20:09:19
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/chemical/search/start-with/DTXSID8024291?top=500
  response:
    status: 400
    headers:
      Content-Type: application/problem+json
    body:
      raw_gzip: |-
        eJxVjrEOwiAURXe/4qVLF7XYdNCOpjHpah1MjAMUbIkICo+YxvjvIri4vnPvfec1A8hwuosM
        asgoMx5
        rpqi+ZvNIJKqEtpTDXjy8cJiQQ4refVlFSLxwgVSqmO4Etf0oOLAJmsMROs9CXvcC
        Wl7DznjNgYAVzi
        t0cDEW8hDr2mZNyqrcrPJleiJ1qsXRIizeZE9V4eJ8EZjFxVPiWPy1f4J+
        GIKtNDpankB7peA8e38AF
        yRIaw==
  recorded_at: 2026-03-04 20:09:20
recorded_with: VCR-vcr/2.1.0
