http_interactions:
- request:
    method: POST
    uri: https://comptox.epa.gov/ctx-api/chemical/search/equal/
    body:
      string: |-
        DTXSID7020182
        DTXSID5032381
        DTXSID8024291
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        [ {
          "dtxsid" : "DTXSID7020182",
          "dtxcid" : "DTXCID30182",
          "casrn" : "80-05-7",
          "smiles" : "CC(C)(C1=CC=C(O)C=C1)C1=CC=C(O)C=C1",
          "preferredName" : "Bisphenol A",
          "searchName" : "DSSTox_Substance_Id",
          "searchValue" : "DTXSID7020182",
          "rank" : 1,
          "hasStructureImage" : 1,
          "isMarkush" : false,
          "searchMsgs" : null,
          "suggestions" : null,
          "isDuplicate" : false
        }, {
          "dtxsid" : null,
          "dtxcid" : null,
          "casrn" : null,
          "smiles" : null,
          "preferredName" : null,
          "searchName" : null,
          "searchValue" : "DTXSID5032381",
          "rank" : null,
          "hasStructureImage" : null,
          "isMarkush" : null,
          "searchMsgs" : [ "Searched by DTX Substance Id: Found 0 results for 'DTXSID5032381'." ],
          "suggestions" : [ null ],
          "isDuplicate" : false
        }, {
          "dtxsid" : null,
          "dtxcid" : null,
          "casrn" : null,
          "smiles" : null,
          "preferredName" : null,
          "searchName" : null,
          "searchValue" : "DTXSID8024291",
          "rank" : null,
          "hasStructureImage" : null,
          "isMarkush" : null,
          "searchMsgs" : [ "Searched by DTX Substance Id: Found 0 results for 'DTXSID8024291'." ],
          "suggestions" : [ null ],
          "isDuplicate" : false
        } ]
  recorded_at: 2026-01-27 16:44:54
recorded_with: VCR-vcr/2.1.0
