http_interactions:
- request:
    method: POST
    uri: https://comptox.epa.gov/ctx-api/chemical/property/experimental/search/by-dtxsid/
    body:
      string: '["DTXSID4020533","DTXSID701018815","DTXSID80143348"]'
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        [ {
          "id" : 175673,
          "dtxsid" : "DTXSID4020533",
          "dtxcid" : "DTXCID00533",
          "smiles" : "C1COCCO1",
          "propName" : "Bioconcentration Factor",
          "dataset" : "exp_prop_BCF_v2.0",
          "propValue" : 0.5049704782121706,
          "propUnit" : "L/kg",
          "propValueId" : 5195976,
          "propValueOriginal" : "-0.296734011038409 log10(L/kg)",
          "propValueText" : null,
          "expDetailsTemperatureC" : null,
          "expDetailsPressureMmhg" : null,
          "expDetailsPh" : null,
          "expDetailsResponseSite" : "Whole body",
          "expDetailsSpeciesLatin" : "Cyprinus carpio",
          "expDetailsSpeciesCommon" : "Common carp",
          "expDetailsSpeciesSupercategory" : "Fish",
          "sourceName" : "Arnot 2006",
          "sourceDescription" : "Review article that compiles well curated BCF/BAF data",
          "publicSourceName" : "Arnot 2006",
          "publicSourceDescription" : "Review article that compiles well curated BCF/BAF data",
          "publicSourceUrl" : "https://doi.org/10.1139/a06-005",
          "directUrl" : null,
          "lsName" : "Chemicals Evaluation and Research Institute (1992)",
          "lsCitation" : "Chemicals Evaluation and Research Institute (1992). Biodegradation and Bioconcentration of Existing Chemical Substances under the Chemical Substances Control Law. http://qsar.cerij.or.jp/cgi-bin/DEGACC/index.cgi?e",
          "lsDoi" : null,
          "briefCitation" : null,
          "publicSourceOriginalName" : null,
          "publicSourceOriginalDescription" : null,
          "publicSourceOriginalUrl" : null
        }, {
          "id" : 175674,
          "dtxsid" : "DTXSID4020533",
          "dtxcid" : "DTXCID00533",
          "smiles" : "C1COCCO1",
          "propName" : "Bioconcentration Factor",
          "dataset" : "exp_prop_BCF_v2.0",
          "propValue" : 0.4010429087856229,
          "propUnit" : "L/kg",
          "propValueId" : 5195975,
          "propValueOriginal" : "-0.3968091584225217 log10(L/kg)",
          "propValueText" : null,
          "expDetailsTemperatureC" : null,
  [...]
