http_interactions:
- request:
    method: POST
    uri: https://comptox.epa.gov/ctx-api/chemical/property/predicted/search/by-dtxsid/
    body:
      string: '["DTXSID8023638","DTXSID3033511","DTXSID20582510"]'
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        [ {
          "id" : 17472920,
          "dtxsid" : "DTXSID20582510",
          "dtxcid" : "DTXCID30533275",
          "smiles" : "C1[As]2C[As]3O[As]1C[As](O2)O3",
          "canonQsarSmiles" : "N/A",
          "genericSubstanceUpdatedAt" : "2021-11-30T00:00:00",
          "propName" : "Polarizability",
          "propCategory" : "Physchem",
          "propDescription" : "The tendency of matter, when subjected to an electric field, to acquire an electric dipole moment in proportion to that applied field",
          "modelName" : "ACD_Prop_Polarizability",
          "modelId" : 1215,
          "sourceName" : "Percepta2023.1.2",
          "sourceDescription" : "<a href=\"https://www.acdlabs.com/products/percepta-platform/\">Percepta from ACD/Labs</a> predicts physicochemical properties.",
          "propValueExperimental" : null,
          "propValueExperimentalString" : null,
          "propValue" : null,
          "propUnit" : "Å^3",
          "propValueString" : null,
          "propValueError" : "Cannot calculate ChemSketch properties",
          "adMethod" : null,
          "adValue" : null,
          "adConclusion" : null,
          "adReasoning" : null,
          "adMethodGlobal" : null,
          "adValueGlobal" : null,
          "adConclusionGlobal" : null,
          "adReasoningGlobal" : null,
          "hasQmrf" : false,
          "qmrfUrl" : null
        }, {
          "id" : 17472908,
          "dtxsid" : "DTXSID20582510",
          "dtxcid" : "DTXCID30533275",
          "smiles" : "C1[As]2C[As]3O[As]1C[As](O2)O3",
          "canonQsarSmiles" : "N/A",
          "genericSubstanceUpdatedAt" : "2021-11-30T00:00:00",
          "propName" : "Developmental Toxicity",
          "propCategory" : "Toxicity",
          "propDescription" : "Developmental Toxicity: whether or not a chemical causes developmental toxicity effects to humans or a[...]
