http_interactions:
- request:
    method: POST
    uri: https://comptox.epa.gov/ctx-api/chemical/search/equal/
    body:
      string: '["INVALID_DTXSID_12345"]'
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        [ {
          "dtxsid" : null,
          "dtxcid" : null,
          "casrn" : null,
          "smiles" : null,
          "preferredName" : null,
          "searchName" : null,
          "searchValue" : "[\"INVALID_DTXSID_12345\"]",
          "rank" : null,
          "hasStructureImage" : null,
          "isMarkush" : null,
          "searchMsgs" : [ "Searched by Synonym: Found 0 results for '[\"INVALID_DTXSID_12345\"]'." ],
          "suggestions" : [ null ],
          "isDuplicate" : false
        } ]
  recorded_at: 2026-01-27 02:12:36
recorded_with: VCR-vcr/2.1.0
