http_interactions:
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/chemical/extra-data/search/by-dtxsid/DTXSID7020182
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        [ {
          "dtxsid" : "DTXSID7020182",
          "dtxcid" : 6623,
          "refs" : 112,
          "googlePatent" : 253889,
          "literature" : 22083,
          "pubmed" : 8825
        } ]
  recorded_at: 2026-03-04 20:07:14
recorded_with: VCR-vcr/2.1.0
