http_interactions:
- request:
    method: POST
    uri: https://comptox.epa.gov/ctx-api/chemical/synonym/search/by-dtxsid/
    body:
      string: '["DTXSID4036304","DTXSID301054196","DTXSID6026296"]'
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        [ {
          "dtxsid" : "DTXSID301054196",
          "valid" : [ "1393-87-9", "Fusafungine" ],
          "good" : null,
          "other" : null,
          "deleted" : null,
          "beilstein" : null,
          "alternate" : null,
          "pcCode" : null
        }, {
          "dtxsid" : "DTXSID4036304",
          "valid" : [ "7727-37-9", "Nitrogen", "Nitrogen", "Nitrogen" ],
          "good" : [ "Diatomic nitrogen", "Dinitrogen", "High Purity Nitrogen", "Industrial Nitrogen", "Molecular nitrogen", "Nitrogen-14", "NITROGEN, COMPRESSED", "Nitrogen gas", "nitrogeno", "NITROGEN, REFRIGERATED LIQUID", "Stickstoff", "UN 1066", "UN 1977" ],
          "other" : [ "1119449-41-0", "1384252-82-7", "156457-45-3", "161728-27-4", "2194529-25-2", "24573[...]
