http_interactions:
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/chemical/property/summary/search/by-dtxsid/DTXSID7020182
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        [ {
          "unit" : "°C",
          "predictedCount" : 3,
          "predictedMax" : 400.837,
          "experimentalMax" : 360.5,
          "predictedMin" : 343.0,
          "predictedMedian" : 359.9328,
          "experimentalMin" : 220.0,
          "propName" : "Boiling Point",
          "experimentalMedian" : 360.0,
          "experimentalAverage" : 313.5,
          "predictedAverage" : 367.92328,
          "experimentalCount" : 3
        }, {
          "unit" : "g/cm^3",
          "predictedCount" : 2,
          "predictedMax" : 1.1945426,
          "experimentalMax" : 1.2,
          "predictedMin" : 1.144,
          "predictedMedian" : 1.1692713,
          "experimentalMin" : 1.195,
          "propName" : "Density",
          "experimentalMedian" : 1.195,
          "experimentalAverage" : 1.197,
          "predictedAverage" : 1.1692713,
          "experimentalCount" : 2
        }, {
          "unit" : "°C",
         [...]
