http_interactions:
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/exposure/list-presence/search/by-dtxsid/DTXSID7020182
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        [ {
          "id" : 9996,
          "dtxsid" : "DTXSID7020182",
          "docid" : 1359540,
          "doctitle" : "Actively Registered AI's by Common Name",
          "docsubtitle" : null,
          "docdate" : null,
          "organization" : "California Department of Pesticide Regulation",
          "reportedfunction" : null,
          "functioncategory" : null,
          "component" : null,
          "keywordset" : "active_ingredient; Pesticides"
        }, {
          "id" : 23125,
          "dtxsid" : "DTXSID7020182",
          "docid" : 1370059,
          "doctitle" : "FDA Cumulative Estimated Daily Intake",
          "docsubtitle" : "The database lists publicly available cumulative estimated daily intakes (CEDIs) for a large number of food contact substances",
          "docdate" : null,
          "organization" : "FDA",
          "reportedfunction" : null,
          "functioncategory" : null,
       [...]
