http_interactions:
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/exposure/ccd/chem-weight-fractions/search/by-dtxsid/DTXSID7020182
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        [ {
          "id" : 1629694,
          "dtxsid" : "DTXSID7020182",
          "prodName" : "3mtm velvet lexan label materials 7737fl_ 7738fl_ fl019_ fl01n_ fl028_ fl02n_ ofl0102_ ofl010n & ofl020n",
          "displayPuc" : "Not yet Categorized",
          "pucKind" : null,
          "lowerweightfraction" : 0E-15,
          "upperweightfraction" : 0.000040000000000,
          "weightfractiontype" : "reported",
          "gencat" : null,
          "prodfam" : null,
          "prod_type" : null,
          "pucDefinition" : null,
          "sourceName" : "3M",
          "sourceDescription" : "3M, or Minnesota Mining and Manufacturing Company, is an American manufacturer operating in the fields of industry, worker safety, healthcare, and consumer goods. Their products include adhesives, abrasives, laminates, passive fire protection, personal protective equipment, window films, paint protection films, dental, orthodontic products, electrical, electronic connecting, insulating materials, medical products, car-care products, electronic circuits, healthcare software, and optical films. Data was obtained online through the manufacturer's website in the form of SDS sheets for industrial uses. Data was acquired in March 2019. Data is accessible to the public online through their website.",
          "sourceUrl" : "https://www.3m.com/3M/en_US/company-us/all-3m-products/",
          "sourceDownloadDate" : "2019-03-05",
          "productCount" : 2
        }, {
          "id" : 1629695,
          "dtxsid" : "DTXSID7020182",
          "prodName" : "carboguard 1340",
          "displayPuc" : "Raw materials:coatings",
          "pucKind" : "Occupation",
          "lowerweightfraction" : 0.025000000000000,
          "upperweightfraction" : 0.100000000000000,
          "weightfractiontype" : "reported",
          "gencat" : "Raw materials",
          "prodfam" : "coatings",
          "prod_type" : null,
          "pucDefinition" : "Coatings [...]
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/exposure/ccd/chem-weight-fractions/search/by-dtxsid/DTXSID5032381
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: '[ ]'
  recorded_at: 2026-03-04 20:09:29
recorded_with: VCR-vcr/2.1.0
