http_interactions:
- request:
    method: POST
    uri: https://comptox.epa.gov/ctx-api/exposure/seem/demographic/search/by-dtxsid/
    body:
      string: '["DTXSID00176779","DTXSID20152651","DTXSID20964832"]'
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        [ {
          "id" : 1795,
          "dtxsid" : "DTXSID00176779",
          "demographic" : "Total",
          "predictor" : "SEEM3 Consensus",
          "median" : 9.43E-7,
          "medianText" : "9.43e-07",
          "l95" : 7.443E-9,
          "l95Text" : "7.443e-09",
          "u95" : 1.971E-4,
          "u95Text" : "0.0001971",
          "units" : "mg/kg/day",
          "ad" : 1,
          "reference" : "Ring 2018"
        }, {
          "id" : 136559,
          "dtxsid" : "DTXSID20152651",
          "demographic" : "Total",
          "predictor" : "SEEM3 Consensus",
          "median" : 1.325E-6,
          "medianText" : "1.325e-06",
          "l95" : 7.771E-9,
          "l95Text" : "7.771e-09",
          "u95" : 3.424E-4,
          "u95Text" : "0.0003424",
          "units" : "mg/kg/day",
          "ad" : 1,
          "reference" : "Ring 2018"
        } ]
  recorded_at: 2026-03-04 20:11:51
recorded_with: VCR-vcr/2.1.0
