http_interactions:
- request:
    method: POST
    uri: https://comptox.epa.gov/ctx-api/exposure/list-presence/search/by-dtxsid/
    body:
      string: '["DTXSID30203567","DTXSID30197038","DTXSID1049641"]'
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        [ {
          "id" : 21999,
          "dtxsid" : "DTXSID1049641",
          "docid" : 1370045,
          "doctitle" : "Commission Regulation (EC) No 1451/2007 of 4 December 2007",
          "docsubtitle" : "ACTIVE SUBSTANCES IDENTIFIED AS EXISTING",
          "docdate" : "4 December 2007",
          "organization" : "Commission of the European Communities",
          "reportedfunction" : null,
          "functioncategory" : null,
          "component" : null,
          "keywordset" : "active_ingredient; Europe; Pesticides"
        }, {
          "id" : 23377,
          "dtxsid" : "DTXSID1049641",
          "docid" : 1370059,
          "doctitle" : "FDA Cumulative Estimated Daily Intake",
          "docsubtitle" : "The database lists publicly available cumulative estimated daily intakes (CEDIs) for a large number of food contact substances",
          "docdate" : null,
          "organization" : "FDA",
          "reportedfunction" : null,
          "functioncategory" : null,[...]
