http_interactions:
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/exposure/ccd/keywords/search/by-dtxsid/DTXSID0020232
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        [ {
          "id" : 1075,
          "keywordset" : "Canada, pharmaceutical",
          "sourceCount" : 1,
          "dtxsid" : "DTXSID0020232"
        }, {
          "id" : 1076,
          "keywordset" : "detected, emissions, pharmaceutical, soil",
          "sourceCount" : 1,
          "dtxsid" : "DTXSID0020232"
        }, {
          "id" : 1077,
          "keywordset" : "detected, emissions, wastewater",
          "sourceCount" : 1,
          "dtxsid" : "DTXSID0020232"
        }, {
          "id" : 1078,
          "keywordset" : "detected, drinking_water, Pesticides, water",
          "sourceCount" : 1,
          "d[...]
