http_interactions:
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/exposure/ccd/production-volume/search/by-dtxsid/DTXSID7020182
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        [ {
          "id" : 23113,
          "dtxsid" : "DTXSID7020182",
          "name" : "2019 NATIONALLY AGGREGATED PV",
          "amount" : "1,000,000,000 - <5,000,000,000 lb"
        }, {
          "id" : 23114,
          "dtxsid" : "DTXSID7020182",
          "name" : "2018 NATIONALLY AGGREGATED PV",
          "amount" : "1,000,000,000 - <5,000,000,000 lb"
        }, {
          "id" : 23115,
          "dtxsid" : "DTXSID7020182",
          "name" : "2017 NATIONALLY AGGREGATED PV",
          "amount" : "1,000,000,000 - <5,000,000,000 lb"
        }, {
          "id" : 23116,
          "dtxsid" : "DTXSID7020182",
          "name" : "2016 NATIONALLY AGGREGATED PV",
          "amount" : "1,000,000,000 - <5,000,000,000 lb"
        } ]
  recorded_at: 2026-03-04 20:09:33
recorded_with: VCR-vcr/2.1.0
