http_interactions:
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/exposure/ccd/production-volume/search/by-dtxsid/DTXSID0020232
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        [ {
          "id" : 425,
          "dtxsid" : "DTXSID0020232",
          "name" : "2019 NATIONALLY AGGREGATED PV",
          "amount" : "219,582"
        }, {
          "id" : 426,
          "dtxsid" : "DTXSID0020232",
          "name" : "2018 NATIONALLY AGGREGATED PV",
          "amount" : "292,600"
        }, {
          "id" : 427,
          "dtxsid" : "DTXSID0020232",
          "name" : "2017 NATIONALLY AGGREGATED PV",
          "amount" : "543,400"
        }, {
          "id" : 428,
          "dtxsid" : "DTXSID0020232",
          "name" : "2016 NATIONALLY AGGREGATED PV",
          "amount" : "627,000"
        } ]
  recorded_at: 2026-03-04 20:09:33
recorded_with: VCR-vcr/2.1.0
