http_interactions:
- request:
    method: POST
    uri: https://comptox.epa.gov/ctx-api/exposure/seem/general/search/by-dtxsid/
    body:
      string: '["DTXSID90486733","DTXSID1025568","DTXSID90143672"]'
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        [ {
          "dtxsid" : "DTXSID1025568",
          "productionVolume" : 31.1,
          "units" : "kg/day",
          "stockholmConvention" : 0,
          "probabilityDietary" : 0.6660,
          "probabilityResidential" : 0.6070,
          "probabilityPesticde" : 0.2880,
          "probabilityIndustrial" : 0.8170
        }, {
          "dtxsid" : "DTXSID90486733",
          "productionVolume" : 31.1,
          "units" : "kg/day",
          "stockholmConvention" : 0,
          "probabilityDietary" : 0.5580,
          "probabilityResidential" : 0.7660,
          "probabilityPesticde" : 0.3320,
          "probabilityIndustrial" : 0.7330
        } ]
  recorded_at: 2026-03-04 20:11:52
recorded_with: VCR-vcr/2.1.0
