http_interactions:
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/exposure/ccd/puc/search/by-dtxsid/DTXSID7020182
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        [ {
          "id" : 4044,
          "dtxsid" : "DTXSID7020182",
          "displayPuc" : "Industrial products",
          "pucKind" : "Occupation",
          "prodCount" : 9,
          "genCat" : "Industrial products",
          "prodfam" : null,
          "prodtype" : null,
          "definition" : "Formulations used as part of a process, or in a piece of equipment (e.g. lubricants, adhesives, oils)"
        }, {
          "id" : 3877,
          "dtxsid" : "DTXSID7020182",
          "displayPuc" : "Specialty occupational products:aviation:aircraft coatings",
          "pucKind" : "Occupation",
          "prodCount" : 2,
          "genCat" : "Specialty occupational products",
          "prodfam" : "aviation",
          "prodtype" : "aircraft coatings",
          "definition" : "Coatings, p[...]
