http_interactions:
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/exposure/ccd/keywords/search/by-dtxsid/DTXSID7020182
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        [ {
          "id" : 49020,
          "keywordset" : "Canada, pharmaceutical",
          "sourceCount" : 1,
          "dtxsid" : "DTXSID7020182"
        }, {
          "id" : 49021,
          "keywordset" : "children",
          "sourceCount" : 2,
          "dtxsid" : "DTXSID7020182"
        }, {
          "id" : 49022,
          "keywordset" : "Cons electronics mech appliances and machinery, Europe",
          "sourceCount" : 1,
          "dtxsid" : "DTXSID7020182"
        }, {
          "id" : 49023,
          "keywordset" : "CEDI",
          "sourceCount" : 1,
          "dtxsid" : "DTXSID7020182"
        }, {
        [...]
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/exposure/ccd/keywords/search/by-dtxsid/DTXSID5032381
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: '[ ]'
  recorded_at: 2026-03-04 20:09:32
recorded_with: VCR-vcr/2.1.0
