http_interactions:
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/exposure/functional-use/search/by-dtxsid/DTXSID7020182
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        [ {
          "id" : 257528,
          "dtxsid" : "DTXSID7020182",
          "datatype" : "Function",
          "docid" : 1779409,
          "doctitle" : "CDR 2020 industrial uses 80-05-7",
          "docdate" : null,
          "reportedfunction" : "monomers",
          "functioncategory" : "Monomers"
        }, {
          "id" : 257529,
          "dtxsid" : "DTXSID7020182",
          "datatype" : "Function",
          "docid" : 1631119,
          "doctitle" : "4,4'-Dihydroxy-2,2-diphenylpropane",
          "docdate" : null,
          "reportedfunction" : "phenolics",
          "functioncategory" : null
        }, {
          "id" : 257530,
          "dtxsid" : "DTXSID7020182",
          "datatype" : "Function",
          "docid" : 1784260,
          "doctitle" : "CDR 2020 consum[...]
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/exposure/functional-use/search/by-dtxsid/DTXSID5032381
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: '[ ]'
  recorded_at: 2026-03-04 20:09:38
recorded_with: VCR-vcr/2.1.0
