http_interactions:
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/exposure/seem/general/search/by-dtxsid/DTXSID7020182
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        [ {
          "dtxsid" : "DTXSID7020182",
          "productionVolume" : 2780000,
          "units" : "kg/day",
          "stockholmConvention" : 0,
          "probabilityDietary" : 1.0000,
          "probabilityResidential" : 1.0000,
          "probabilityPesticde" : 0.0000,
          "probabilityIndustrial" : 0.0000
        } ]
  recorded_at: 2026-03-04 20:11:52
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/exposure/seem/general/search/by-dtxsid/DTXSID5032381
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: '[ ]'
  recorded_at: 2026-03-04 20:11:52
recorded_with: VCR-vcr/2.1.0
