http_interactions:
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/exposure/ccd/puc/search/by-dtxsid/DTXSID0020232
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        [ {
          "id" : 1221,
          "dtxsid" : "DTXSID0020232",
          "displayPuc" : "Food and drug:pharmaceuticals",
          "pucKind" : "Formulation",
          "prodCount" : 2,
          "genCat" : "Food and drug",
          "prodfam" : "pharmaceuticals",
          "prodtype" : null,
          "definition" : "A product, compound, medicine or therapeutic which is subject to regulation, including medicinal and illicit drugs, biologics, and the salts, esters, and hydrates of pharmaceuticals, includes precursors to pharmaceuticals, additives, and pharmaceuticals for animal/veterinary use. Includes prescription drugs. See 'Food and drug - pharmaceuticals - over the counter' for over-the-counter drugs."
        }, {
          "id" : 10532,
          "dtxsid" : "DTXSID0020232",
          "displayPuc" : "P[...]
