http_interactions:
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/exposure/ccd/functional-use/search/by-dtxsid/DTXSID7020182
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        [ {
          "id" : 1300,
          "dtxsid" : "DTXSID7020182",
          "category" : "Processing aids not otherwise specified",
          "definition" : "additive"
        }, {
          "id" : 5448,
          "dtxsid" : "DTXSID7020182",
          "category" : "Antioxidant",
          "definition" : "antioxidants>phenolics"
        }, {
          "id" : 6803,
          "dtxsid" : "DTXSID7020182",
          "category" : "Binder",
          "definition" : "binder"
        }, {
          "id" : 9033,
          "dtxsid" : "DTXSID7020182",
          "category" : "Catalyst",
          "definition" : "catalyst"
        }, {
          "id" : 14018,
   [...]
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/exposure/ccd/functional-use/search/by-dtxsid/DTXSID5032381
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: '[ ]'
  recorded_at: 2026-03-04 20:09:30
recorded_with: VCR-vcr/2.1.0
