http_interactions:
- request:
    method: POST
    uri: https://comptox.epa.gov/ctx-api/chemical/fate/search/by-dtxsid/
    body:
      string: '["DTXSID4020533"]'
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        [ {
          "dtxsid" : "DTXSID4020533",
          "properties" : [ {
            "propName" : "Atmos. Hydroxylation Rate",
            "experimentalFateData" : [ {
              "id" : 175672,
              "dtxsid" : "DTXSID4020533",
              "dtxcid" : "DTXCID00533",
              "smiles" : "C1COCCO1",
              "prop_name" : "Atmos. Hydroxylation Rate",
              "prop_type" : "experimental",
              "prop_category" : "Env. Fate/transport",
              "dataset" : "exp_prop_OH_v3.0",
              "prop_value" : 1.0899999999999515E-11,
              "prop_unit" : "cm^3/molecule*sec",
              "prop_value_id" : 2404800,
              "prop_value_original" : "-10.962573502059396 log10(cm3/molecule-sec)",
              "prop_value_text" : null,
              "exp_details_temperature_c" : 25,
              "exp_details_pressure_mmhg" : null,
              "exp_details_ph" : null,
              "exp_details_response_site" : null,
              "exp_details_species_latin" : null,
              "exp_details_species_common" : null,
              "exp_details_species_supercategory" : null,
              "source_name" : "OPERA2.8",
              "source_description" : "OPERA v2.8 (Open (Quantitative) Structure-activity/property Relationship App): experimental data taken from SDF files ",
              "public_source_name" : "OPERA2.8",
              "public_source_description" : "OPERA v2.8 (Open (Quantitative) Structure-activity/property Relationship App): experimental data taken from SDF files ",
              "public_source_url" : "https://github.com/kmansouri/OPERA",
              "direct_url" : null,
              "ls_name" : null,
              "ls_citation" : null,
              "ls_doi" : null,
              "brief_citation" : "ATKINSON,R (1989)",
              "public_source_original_name" : null,
              "public_source_original_description" : null,
              "public_source_original_url" : null,
              "export_date" : "2025-03-27",
              "data_version" : "2.0.0"
            } ],
            "predictedFateData" : [ {
              "id" : 28555919,
              "dtxsid" : "DTXSID4020533",
              "dtxcid" : "DTXCID00533",
              "smiles" : "C1COCCO1",
              "canon_qsar_smiles" : "C1COCCO1",
              "generic_substance_updated_at" : "2023-06-12T00:00:00",
              "prop_name" : "Atmos. Hydroxylation Rate",
              "prop_type" : "predicted",
              "prop_category" : "Env. Fate/transport",
              "property_description" : "OH rate constant for the atmospheric, gas-phase reaction between photochemically produced hydroxyl radicals and organic chemicals",
              "model_name" : "OPERA_AOH",
              "model_id" : 1161,
              "source_name" : "OPERA2.8",
              "source_description" : "<a href=\"https://github.com/kmansouri/OPERA/releases/tag/v2.8.4\">OPERA2.8</a> is a free and open source/open data suite of QSAR Models providing predictions and additional information including applicability domain and accuracy assessment, as described in the publication <a href=\"http://dx.doi.org/10.1186/s13321-018-0263-1\" target=\"_blank\">\"OPERA models for predicting physicochemical properties and environmental fate endpoints\"</a>. All models were built on curated data and standardized chemical structures as described in the publication <a href=\"http://dx.doi.org/10.1080/1062936X.2016.1253611\" target=\"_blank\">\"An automated curation procedure for addressing chemical errors and inconsistencies in public datasets used in QSAR modelling\"</a>. All OPERA properties are predicted under ambient conditions of 760mm of Hg at 25 degrees Celsius.\n",
              "prop_value_experimental" : 1.0964781961431828E-11,
              "prop_value_experimental_string" : null,
              "prop_value" : 1.0964781961431828E-11,
              "prop_unit" : "cm^3/molecule*sec",
              "prop_value_string" : null,
              "prop_value_error" : null,
              "ad_method" : "Combined Applicability Domain",
              "ad_value" : null,
              "ad_conclusion" : null,
              "ad_reasoning" : "Inside training set (Global AD = 1) and good local representation (Local AD index = 1.0 &gt; 0.6)",
              "ad_method_global" : "OPERA Global Index",
              "ad_value_global" : 1,
              "ad_conclusion_global" : "Inside",
              "ad_reasoning_global" : "Inside AD since value = 1",
              "has_qmrf" : true,
              "qmrf_url" : "https://ctx-api-stg.ccte.epa.gov/chemical/property/model/file/search/?modelId=1161&typeId=1",
              "export_date" : "2025-12-03",
              "data_version" : "3.0.0"
            } ]
          }, {
            "propName" : "Bioconcentration Factor",
            "experimentalFateData" : [ {
              "id" : 175677,
              "dtxsid" : "DTXSID4020533",
              "dtxcid" : "DTXCID00533",
              "smiles" : "C1COCCO1",
              "prop_name" : "Bioconcentration Fac[...]
