http_interactions:
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/exposure/ccd/chem-weight-fractions/search/by-dtxsid/DTXSID0020232
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        [ {
          "id" : 19672,
          "dtxsid" : "DTXSID0020232",
          "prodName" : "Kenneth Cole Reaction Hair & Body Wash (old formulation)",
          "displayPuc" : "Personal care:body hygiene:body wash",
          "pucKind" : "Formulation",
          "lowerweightfraction" : null,
          "upperweightfraction" : null,
          "weightfractiontype" : "reported",
          "gencat" : "Personal care",
          "prodfam" : "body hygiene",
          "prod_type" : "body wash",
          "pucDefinition" : "body cleaners, washes, shower gels",
          "sourceName" : "Environmental Working Group (EWG)",
          "sourceDescription" : "The Environmental Working Group is an American non-profit activist group that specializes in research and advocacy in the areas of agricultural subsidies, toxic chemicals, drinking water pollutants, and corporate accountability. Data on Cosmetics and Personal Care Products were obtained from the Environmental Working Group's (EWG's) Skin Deep Cosmetics Database and Guide to Healthy Cleaning, between August 2019 - March 2020. Current product information is available to the public via their online database.",
          "sourceUrl" : "https://www.ewg.org/",
          "sourceDownloadDate" : "2019-09-13",
          "productCount" : 1
        }, {
          "id" : 19673,
          "dtxsid" : "DTXSID0020232",
          "prodName" : "Boticario de Havana Body Wash, Orange Oil, Sugar Cane Coffee & Pineapple (2016 formulation)",
          "displayPuc" : "Personal care:body hygiene:body wash",
          "pucKind" : "Formulation",
          "lowerweightfraction" : null,
          "upperweightfraction" : null,
          "weightfractiontype" : "reported",
          "gencat" : "Personal care",
          "prodfam" : "body hygiene",
 [...]
