http_interactions:
- request:
    method: POST
    uri: https://comptox.epa.gov/ctx-api/chemical/fate/search/by-dtxsid/
    body:
      string: '["DTXSID1024122","DTXSID4020533","DTXSID7020182","DTXSID7024902"]'
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        [ {
          "dtxsid" : "DTXSID1024122",
          "properties" : [ {
            "propName" : "Atmos. Hydroxylation Rate",
            "experimentalFateData" : [ ],
            "predictedFateData" : [ {
              "id" : 9024383,
              "dtxsid" : "DTXSID1024122",
              "dtxcid" : "DTXCID004122",
              "smiles" : "OC(=O)CNCP(O)(O)=O",
              "canon_qsar_smiles" : "OC(=O)CNCP(O)(O)=O",
              "generic_substance_updated_at" : "2025-01-15T00:00:00",
              "prop_name" : "Atmos. Hydroxylation Rate",
              "prop_type" : "predicted",
              "prop_category" : "Env. Fate/transport",
              "property_description" : "OH rate constant for the atmospheric, gas-phase reaction between photochemically produced hydroxyl radicals and organic chemicals",
              "model_name" : "OPERA_AOH",
              "model_id" : 1161,
              "source_name" : "OPERA2.8",
              "source_description" : "<a href=\"https://github.com/kmansouri/OPERA/releases/tag/v2.8.4\">OPERA2.8</a> is a free and open source/open data suite of QSAR Models providing predictions and additional information including applicability domain and accuracy assessment, as described in the publication <a href=\"http://dx.doi.org/10.1186/s13321-018-0263-1\" target=\"_blank\">\"OPERA models for predicting physicochemical properties and environmental fate endpoints\"</a>. All models were built on curated data and standardized chemical structures as described in the publication <a href=\"http://dx.doi.org/10.1080/1062936X.2016.1253611\" target=\"_blank\">\"An automated curation procedure for addressing chemical errors and inconsistencies in public datasets used in QSAR modelling\"</a>. All OPERA properties are predicted under ambient conditions of 760mm of Hg at 25 degrees Celsius.\n",
              "prop_value_experimental" : null,
              "prop_value_experimental_string" : null,
              "prop_value" : 8.128305161640995E-12,
              "prop_unit" : "cm^3/molecule*sec",
              "prop_value_string" : null,
              "prop_value_error" : null,
              "ad_method" : "Combined Applicability Domain",
              "ad_value" : null,
              "ad_conclusion" : null,
              "ad_reasoning" : "Inside training set (Global AD = 1) but poor local representation (Local AD index = 0.297 &le; 0.4)",
              "ad_method_global" : "OPERA Global Index",
              "ad_value_global" : 1,
              "ad_conclusion_global" : "Inside",
              "ad_reasoning_global" : "Inside AD since value = 1",
              "has_qmrf" : true,
              "qmrf_url" : "https://ctx-api-stg.ccte.epa.gov/chemical/property/model/file/search/?modelId=1161&typeId=1",
              "export_date" : "2025-12-03",
              "data_version" : "3.0.0"
            } ]
          }, {
            "propName" : "Bioconcentration Factor",
            "experimentalFateData" : [ {
              "id" : 56344,
              "dtxsid" : "DTXSID1024122",
              "dtxcid" : "DTXCID004122",
              "smiles" : "OC(=O)CNCP(O)(O)=O",
              "prop_name" : "Bioconcentration Factor",
              "prop_type" : "experimental",
              "prop_category" : "Env. Fate/transport",
              "dataset" : "exp_prop_BCF_v2.0",
              "prop_value" : 65.49999999999999,
              "prop_unit" : "L/kg",
              "prop_value_id" : 5250270,
              "prop_value_original" : "65.5 L/kg",
              "prop_value_text" : null,
              "exp_details_temperature_c" : null,
              "exp_details_pressure_mmhg" : null,
              "exp_details_ph" : null,
              "exp_details_response_site" : "Whole body",
              "exp_details_species_latin" : "Oreochromis mossambicus",
              "exp_details_species_common" : "Mozambique Tilapia",
              "exp_details_species_supercategory" : "Fish",
              "source_name" : "ECOTOX_2024_12_12",
              "source_description" : "ECOTOX is a comprehensive Knowledgebase providing single chemical environmental toxicity data on aquatic and terrestrial species.",
              "public_source_name" : "ECOTOX_2024_12_12",
              "public_source_description" : "ECOTOX is a comprehensive Knowledgebase providing single chemical environmental toxicity data on aquatic and terrestrial species.",
              "public_source_url" : "https://cfpub.epa.gov/ecotox/index.cfm",
              "direct_url" : null,
              "ls_name" : "Wang,Y.S., C.G. Jaw, and Y.L. Chen (1994)",
              "ls_citation" : "Wang,Y.S., C.G. Jaw, and Y.L. Chen (1994). Accumulation of 2,4-D and Glyphosate in Fish and Water Hyacinth.Water Air Soil Pollut.74(3/4): 397-403",
              "ls_doi" : null,
              "brief_citation" : null,
              "public_source_original_name" : null,
              "public_source_original_description" : null,
              "public_source_original_url" : null,
              "export_date" : "2025-03-27",
              "data_version" : "2.0.0"
            }, {
              "id" : 56343,
              "dtxsid" : "DTXSID1024122",
              "dtxcid" : "DTXCID004122",
              "smiles" : "OC(=O)CNCP(O)(O)=O",
              "prop_name" : "Bioconcentration Factor",
              "prop_type" : "experimental",
              "prop_category" : "Env. Fate/transport",
              "dataset" : "exp_prop_BCF_v2.0",
              "prop_value" : 13.90[...]
