http_interactions:
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/exposure/ccd/functional-use/search/by-dtxsid/DTXSID0020232
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        [ {
          "id" : 11032,
          "dtxsid" : "DTXSID0020232",
          "category" : "Pharmaceutical (EPA)",
          "definition" : "CNS stimulant"
        }, {
          "id" : 19058,
          "dtxsid" : "DTXSID0020232",
          "category" : "Flavouring and nutrient",
          "definition" : "energy drinks"
        }, {
          "id" : 19059,
          "dtxsid" : "DTXSID0020232",
          "category" : "Flavouring and nutrient",
          "definition" : "energy drinks, soft drinks"
        }, {
          "id" : 23223,
          "dtxsid" : "DTXSID0020232",
          "category" : "Flavouring and nutrient",
          "de[...]
