http_interactions:
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/hazard/iris/search/by-dtxsid/DTXSID7020182
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        [ {
          "dtxsid" : "DTXSID7020182",
          "chemicalName" : "Bisphenol A",
          "casrn" : "80-05-7",
          "lastSignificantRevision" : "1988-09-26",
          "literatureScreeningReview" : "Yes",
          "criticalEffectsSystems" : null,
          "rfdChronic" : "5 x 10 -2 mg/kg-day",
          "rfdSubchronic" : null,
          "rfcChronic" : null,
          "rfcSubchronic" : null,
          "tumorSite" : null,
          "irisUrl" : "https://iris.epa.gov/ChemicalLanding/&substance_nmbr=356"
        } ]
  recorded_at: 2026-03-04 20:11:56
recorded_with: VCR-vcr/2.1.0
