http_interactions:
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/hazard/toxref/data/search/by-study-type/DTXSID7020182?pageNumber=1
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        {
          "studyType" : "DTXSID7020182",
          "totalRecords" : 0,
          "recordsOnPage" : 0,
          "pageNumber" : 1,
          "totalPages" : 1,
          "data" : [ ]
        }
  recorded_at: 2026-03-04 20:12:00
recorded_with: VCR-vcr/2.1.0
