http_interactions:
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/hazard/toxref/observations/search/by-study-id/63
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        [ {
          "id" : 399,
          "studyId" : 63,
          "dtxsid" : "DTXSID7034676",
          "casrn" : "42509-80-8",
          "name" : "Isazofos",
          "studyType" : "CHR",
          "guidelineNumber" : "870.4100",
          "guidelineName" : "Chronic Toxicity",
          "endpointCategory" : "systemic",
          "endpointType" : "pathology gross",
          "endpointTarget" : "eye",
          "status" : "not reported",
          "defaultStatus" : false,
          "testedStatus" : true,
          "reportedStatus" : false,
          "exportDate" : "2024-12-02",
          "version" : "v2_1"
        }, {
          "id" : 400,
          "studyId" : 63,
          "dtxsid" : "DTXSID7034676",
          "casrn" : "42509-80-8",
          "name" : "Isazofos",
          "studyType" : "CHR",
          "guidelineNumber" : "870.4100",
          "guidelineName" : "Chronic Toxicity",
          "endpointCategory" : "systemic",
          "endpointType" : "clinical chemistry",
          "endpointTarget" : "bilirubin",
          "status" : "tested",
          "defaultStatus" : true,
        [...]
