http_interactions:
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/hazard/genetox/details/search/by-dtxsid/DTXSID7020182
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        [ {
          "year" : null,
          "source" : "NTP",
          "dtxsid" : "DTXSID7020182",
          "species" : "Not specified",
          "assayCategory" : "in vitro",
          "assayResult" : "negative",
          "assayType" : "Ames",
          "metabolicActivation" : null,
          "strain" : null
        }, {
          "year" : null,
          "source" : "NTP",
          "dtxsid" : "DTXSID7020182",
          "species" : "Not specified",
          "assayCategory" : "in vivo",
          "assayResult" : "negative",
          "assayType" : "in vivo micronucleus (rat)",
          "metabolicActivation" : null,
          "strain" : null
        }, {
          "year" : null,
          "source" : "NTP",
          "dtxsid" : "DTXSID7020182",
          "species" : "Not specified",
          "assayCategory" : "in vivo",
          "assayResult" : "negative",
          "assayType" : "in vivo comet (rat)",
          "metabolicActivation" : null,
          "strain" : null
        } ]
  recorded_at: 2026-03-04 20:11:55
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/hazard/genetox/details/search/by-dtxsid/DTXSID5032381
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: '[ ]'
  recorded_at: 2026-03-04 20:11:55
recorded_with: VCR-vcr/2.1.0
