http_interactions:
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/hazard/toxref/data/search/by-dtxsid/DTXSID7020182
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        [ {
          "id" : 169328,
          "studyId" : 2612,
          "dtxsid" : "DTXSID7020182",
          "casrn" : "80-05-7",
          "name" : "Bisphenol A",
          "studySource" : "ntp",
          "studySourceId" : null,
          "citation" : "NTP (1985) Teratologic evaluation of bisphenol A administered to CDÂ® rats on gestation days 6 through 15. NTP-85-089",
          "studyYear" : 1985,
          "studyType" : "DEV",
          "studyTypeGuideline" : "Prenatal developmental toxicity study",
          "species" : "rat",
          "strainGroup" : "other",
          "strain" : "[Other]",
          "adminRoute" : "Oral",
          "adminMethod" : "Gavage/Intubation",
          "doseDuration" : 10,
          "doseDurationUnit" : "day",
          "doseStart" : 6,
          "doseStartUnit" : "GD",
          "doseEnd" : 15,
          "doseEndUnit" : "GD",
          "dosePeriod" : "terminal",
          "doseLevel" : 3,
          "conc" : 128.0,
          "concUnit" : "mg/mL",
          "vehicle" : null,
          "doseComment" : null,
          "doseAdjusted" : 640.0,
          "doseAdjustedUnit" : "mg/kg/day",
          "sex" : "F",
          "generation" : "F0",
          "lifeStage" : "adult",
          "numAnimals" : 29.0,
          "tgComment" : null,
          "endpointCategory" : "systemic",
          "endpointType" : "in life observation",
          "endpointTarget" : "clinical signs",
          "effectDesc" : "pica",
          "effectDescFree" : "NA",
          "cancerRelated" : false,
          "targetSite" : "NA",
          "direction" : 1,
          "effectComment" : null,
          "treatmentRelated" : true,
          "criticalEffect" : false,
          "sampleSize" : "29",
          "effectVal" : 41.0,
          "effectValUnit" : "incidence",
          "effectVar" : null,
          "effectVarType" : null,
          "time" : 20.0,
          "timeUnit" : "GD",
          "noQuantDataReported" : false,
          "exportDate" : "2024-12-02",
          "version" : "v2_1"
        }, {
          "id" : 169329,
          "studyId" : 2612,
          "dtxsid" : "DTXSID7020182",
          "casrn" : "80-05-7",
          "name" : "Bisphenol A",
          "studySource" : "ntp",
          "studySourceId" : null,
          "citation" : "NTP (1985) Teratologic evaluation of bisphenol A administered to CDÂ® rats on gestation days 6 through 15. NTP-85-089",
          "studyYear" : 1985,
          "studyType" : "DEV",
          "studyTypeGuideline" : "Prenatal developm[...]
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/hazard/toxref/data/search/by-dtxsid/DTXSID5032381
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: '[ ]'
  recorded_at: 2026-03-04 20:11:59
recorded_with: VCR-vcr/2.1.0
