http_interactions:
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/hazard/toxref/observations/search/by-dtxsid/DTXSID7020182
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        [ {
          "id" : 728739,
          "studyId" : 2612,
          "dtxsid" : "DTXSID7020182",
          "casrn" : "80-05-7",
          "name" : "Bisphenol A",
          "studyType" : "DEV",
          "guidelineNumber" : "870.3700",
          "guidelineName" : "Prenatal Developmental Toxicity Study",
          "endpointCategory" : "systemic",
          "endpointType" : "clinical chemistry",
          "endpointTarget" : "albumin",
          "status" : "not tested",
          "defaultStatus" : true,
          "testedStatus" : false,
          "reportedStatus" : false,
          "exportDate" : "2024-12-02",
          "version" : "v2_1"
        }, {
          "id" : 728740,
          "studyId" : 2612,
          "dtxsid" : "DTXSID7020182",
          "casrn" : "80-05-7",
          "name" : "Bisphenol A",
          "studyType" : "DEV",
          "guidelineNumber" : "870.3700",
          "guidelineName" : "Prenatal Developmental Toxicity Study",
          "endpointCategory" : "systemic",
          "endpointType" : "pathology microscopic",
          "endpointTarget" : "harderian gland",
          "status" : "not tested",
   [...]
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/hazard/toxref/observations/search/by-dtxsid/DTXSID5032381
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: '[ ]'
  recorded_at: 2026-03-04 20:12:18
recorded_with: VCR-vcr/2.1.0
