http_interactions:
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/hazard/toxref/summary/search/by-study-id/63
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        [ {
          "id" : 2,
          "studyId" : 63,
          "dtxsid" : "DTXSID7034676",
          "casrn" : "42509-80-8",
          "name" : "Isazofos",
          "studySource" : "opp_der",
          "studySourceId" : "40733201",
          "citation" : "O'Connor, D.; Mccormick, G.; Green, J. (1988) Chronic Toxicity Study In Dogs With Cga-12223 Tech.: Study No. 852023. Unpublished Study Prepared By Ciba-Geigy Corp. 593 P.",
          "studyYear" : 1988,
          "studyType" : "CHR",
          "studyTypeGuideline" : "Chronic toxicity",
          "species" : "dog",
          "strainGroup" : "beagle",
          "strain" : "beagle",
          "adminRoute" : "Oral",
          "adminMethod" : "Feed",
          "doseStart" : 0,
          "doseStartUnit" : "week",
          "doseEnd" : 60,
          "doseEndUnit" : "week",
          "exportDate" : "2025-01-17",
          "version" : "v2_1"
        } ]
  recorded_at: 2026-03-04 20:12:30
recorded_with: VCR-vcr/2.1.0
