http_interactions:
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/hazard/toxref/data/search/by-dtxsid/DTXSID1037806
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        [ {
          "id" : 325,
          "studyId" : 67,
          "dtxsid" : "DTXSID1037806",
          "casrn" : "3397-62-4",
          "name" : "2-Chloro-4,6-diamino-1,3,5-triazine",
          "studySource" : "opp_der",
          "studySourceId" : "43013207",
          "citation" : "J.C. Pettersen, A.D. Richter, and P.A. Gilles (1991) 90-Day Oral Toxicity Study in Rats. CIBA-GEIGY Environmental Health Center",
          "studyYear" : 1991,
          "studyType" : "SUB",
          "studyTypeGuideline" : "Subchronic oral toxicity in rodents",
          "species" : "rat",
          "strainGroup" : "sprague dawley",
          "strain" : "CD(SD)BR",
          "adminRoute" : "Oral",
          "adminMethod" : "Feed",
          "doseDuration" : 13,
          "doseDurationUnit" : "week",
          "doseStart" : 0,
          "doseStartUnit" : "day",
          "doseEnd" : 13,
          "doseEndUnit" : "week",
          "dosePeriod" : "terminal",
          "doseLevel" : 4,
          "conc" : 500.0,
          "concUnit" : "ppm",
          "vehicle" : null,
          "doseComment" : null,
          "doseAdjusted" : 34.1,
          "doseAdjustedUnit" : "mg/kg/day",
          "sex" : "M",
          "generation" : "F0",
          "lifeStage" : "adult",
          "numAnimals" : 15.0,
          "tgComment" : null,
          "endpointCategory" : "systemic",
          "endpointType" : "in life observation",
          "endpointTarget" : "body weight",
          "effectDesc" : "body weight",
          "effectDescFree" : "NA",
          "cancerRelated" : false,
          "targetSite" : "NA",
          "direction" : -1,
          "effectComment" : null,
          "treatmentRelated" : true,
          "criticalEffect" : false,
          "sampleSize" : "15",
          "effectVal" : null,
          "effectValUnit" : null,
          "effectVar" : null,
          "effectVarType" : null,
          "time" : 13.0,
          "timeUnit" : "week",
          "noQuantDataReported" : false,
          "exportDate" : "2024-12-02",
          "version" : "v2_1"
        }, {
          "id" : 326,
          "studyId" : 67,
          "dtxsid" : "DTXSID1037806",
          "casrn" : "3397-62-4",
          "name" : "2-Chloro-4,6-diamino-1,3,5-triazine",
          "studySource" : "opp_der",
          "studySourceId" : "43013207",
          "citation" : "J.C. Pettersen, A.D. Richter, and P.A. Gilles (1991) 90-Day Oral Toxicity Study in Rats. CIBA-GEIGY Environmental Health Center",
          "studyYear" : 1991,
          "studyType" : "SUB",
          [...]
