http_interactions:
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/hazard/toxref/observations/search/by-dtxsid/DTXSID1037806
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        [ {
          "id" : 792817,
          "studyId" : 2841,
          "dtxsid" : "DTXSID1037806",
          "casrn" : "3397-62-4",
          "name" : "2-Chloro-4,6-diamino-1,3,5-triazine",
          "studyType" : "DEV",
          "guidelineNumber" : "870.3700",
          "guidelineName" : "Prenatal Developmental Toxicity Study",
          "endpointCategory" : "systemic",
          "endpointType" : "clinical chemistry",
          "endpointTarget" : "protein",
          "status" : "not tested",
          "defaultStatus" : true,
          "testedStatus" : false,
          "reportedStatus" : false,
          "exportDate" : "2024-12-02",
          "version" : "v2_1"
        }, {
          "id" : 792818,
          "studyId" : 2841,
          "dtxsid" : "DTXSID1037806",
          "casrn" : "3397-62-4",
          "name" : "2-Chloro-4,6-diamino-1,3,5-triazine",
          "studyType" : "DEV",
          "guidelineNumber" : "870.3700",
          "guidelineName" : "Prenatal Developmental Toxicity Study",
          "endpointCategory" : "systemic",
          "endpointType" : "clinical chemistry",
          "endpointTarget" : "peroxisomal beta-oxidation analys[...]
