http_interactions:
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/hazard/toxref/summary/search/by-dtxsid/DTXSID7020182
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        [ {
          "id" : 1832,
          "studyId" : 2612,
          "dtxsid" : "DTXSID7020182",
          "casrn" : "80-05-7",
          "name" : "Bisphenol A",
          "studySource" : "ntp",
          "studySourceId" : null,
          "citation" : "NTP (1985) Teratologic evaluation of bisphenol A administered to CDÂ® rats on gestation days 6 through 15. NTP-85-089",
          "studyYear" : 1985,
          "studyType" : "DEV",
          "studyTypeGuideline" : "Prenatal developmental toxicity study",
          "species" : "rat",
          "strainGroup" : "other",
          "strain" : "[Other]",
          "adminRoute" : "Oral",
          "adminMethod" : "Gavage/Intubation",
          "doseStart" : 6,
          "doseStartUnit" : "GD",
          "doseEnd" : 15,
          "doseEndUnit" : "GD",
          "exportDate" : "2025-01-17",
          "version" : "v2_1"
        } ]
  recorded_at: 2026-03-04 20:11:58
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/hazard/toxref/summary/search/by-dtxsid/DTXSID5032381
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: '[ ]'
  recorded_at: 2026-03-04 20:11:58
recorded_with: VCR-vcr/2.1.0
