http_interactions:
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/hazard/toxref/data/search/by-study-id/63
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        [ {
          "id" : 9,
          "studyId" : 63,
          "dtxsid" : "DTXSID7034676",
          "casrn" : "42509-80-8",
          "name" : "Isazofos",
          "studySource" : "opp_der",
          "studySourceId" : "40733201",
          "citation" : "O'Connor, D.; Mccormick, G.; Green, J. (1988) Chronic Toxicity Study In Dogs With Cga-12223 Tech.: Study No. 852023. Unpublished Study Prepared By Ciba-Geigy Corp. 593 P.",
          "studyYear" : 1988,
          "studyType" : "CHR",
          "studyTypeGuideline" : "Chronic toxicity",
          "species" : "dog",
          "strainGroup" : "beagle",
          "strain" : "beagle",
          "adminRoute" : "Oral",
          "adminMethod" : "Feed",
          "doseDuration" : 60,
          "doseDurationUnit" : "week",
          "doseStart" : 0,
          "doseStartUnit" : "week",
          "doseEnd" : 60,
          "doseEndUnit" : "week",
          "dosePeriod" : "terminal",
          "doseLevel" : 4,
          "conc" : 50.0,
          "concUnit" : "ppm",
          "vehicle" : "acetone",
          "doseComment" : null,
          "doseAdjusted" : 1.6102,
          "doseAdjustedUnit" : "mg/kg/day",
          "sex" : "M",
          "generation" : "F0",
          "lifeStage" : "adult",
          "numAnimals" : 4.0,
          "tgComment" : null,
          "endpointCategory" : "cholinesterase",
          "endpointType" : "cholinesterase",
          "endpointTarget" : "cholinesterase",
          "effectDesc" : "erythrocyte cholinesterase (che)",
          "effectDescFree" : "NA",
          "cancerRelated" : false,
          "targetSite" : "NA",
          "direction" : -1,
          "effectComment" : "mean value; units not reported",
          "treatmentRelated" : true,
          "criticalEffect" : false,
          "sampleSize" : "4",
          "effectVal" : 2025.0,
          "effectValUnit" : null,
          "effectVar" : null,
          "effectVarType" : null,
          "time" : 60.0,
          "timeUnit" : "week",
          "noQuantDataReported" : false,
          "exportDate" : "2024-12-02",
          "version" : "v2_1"
        }, {
          "id" : 10,
          "studyId" : 63,
          "dtxsid" : "DTXSID7034676",
          "casrn" : "42509-80-8",
          "name" : "Isazofos",
          "studySource" : "opp_der",
          "studySourceId" : "40733201",
          "citation" : "O'Connor, D.; Mccormick, G.; Green, J. (1988) Chronic Toxicity Study In Dogs With Cga-12223 Tech.: Study No. 852023. Unpublished Study Prepared By Ciba-Geigy Corp. 593 P.",
          "studyYear" : 1988,
          "studyType" : "[...]
