http_interactions:
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/hazard/toxref/summary/search/by-dtxsid/DTXSID1037806
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        [ {
          "id" : 5,
          "studyId" : 67,
          "dtxsid" : "DTXSID1037806",
          "casrn" : "3397-62-4",
          "name" : "2-Chloro-4,6-diamino-1,3,5-triazine",
          "studySource" : "opp_der",
          "studySourceId" : "43013207",
          "citation" : "J.C. Pettersen, A.D. Richter, and P.A. Gilles (1991) 90-Day Oral Toxicity Study in Rats. CIBA-GEIGY Environmental Health Center",
          "studyYear" : 1991,
          "studyType" : "SUB",
          "studyTypeGuideline" : "Subchronic oral toxicity in rodents",
          "species" : "rat",
          "strainGroup" : "sprague dawley",
          "strain" : "CD(SD)BR",
          "adminRoute" : "Oral",
          "adminMethod" : "Feed",
          "doseStart" : 0,
          "doseStartUnit" : "day",
          "doseEnd" : 13,
          "doseEndUnit" : "week",
          "exportDate" : "2025-01-17",
          "version" : "v2_1"
        }, {
          "id" : 1993,
          "studyId" : 2841,
          "dtxsid" : "DTXSID1037806",
          "casrn" : "3397-62-4",
          "name" : "2-Chloro-4,6-diamino-1,3,5-triazine",
          "studySource" : "opp_der",
          "studySourceId" : "41392402",
          "citation" : "Hummel, H.; Youreneff, M.; Giknis; et al. (1989) Diaminochloro- triazine: A Teratology (Segment II) Study in Rats: Lab Project Number: 872177.  Unpublished study prepared by Ciba-Geigy Corp. 428 p.",
          "studyYear" : 1989,
          "studyType" : "DEV",
          "studyTypeGuideline" : "Prenatal developmental toxicity study",
          "species" : "rat",
          "strainGroup" : "sprague dawley",
          "strain" : "CD(SD)BR",
          "adminRoute" : "Oral",
          "adminMethod" : "Gavage/Intubation",
          "doseStart" : 6,
          "doseStartUnit" : "GD",
          "doseEnd" : 16,
          "doseEndUnit" : "GD",
          "exportDate" : "2025-01-17",
          "version" : "v2_1"
        } ]
  recorded_at: 2026-03-04 20:12:29
recorded_with: VCR-vcr/2.1.0
