http_interactions:
- request:
    method: POST
    uri: https://comptox.epa.gov/ctx-api/hazard/skin-eye/search/by-dtxsid/
    body:
      string: '["DTXSID701018815","DTXSID4023674","DTXSID6020692"]'
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        [ {
          "id" : 13,
          "authority" : "Authoritative",
          "classification" : "Skin Sens. 1",
          "dtxsid" : "DTXSID6020692",
          "endpoint" : "Skin Sensitization",
          "glp" : null,
          "guideline" : null,
          "recordUrl" : "https://echa.europa.eu/information-on-chemicals/annex-vi-to-clp",
          "reliability" : "-",
          "resultText" : "May cause an allergic skin reaction H317 Score of H was assigned based on a hazard code of H317",
          "score" : "H",
          "skinEyeHash" : "-",
          "skinEyeId" : 323256,
          "skinEyeUuid" : null,
          "source" : "ECHA CLP",
          "species" : "-",
          "strain" : "-",
          "studyType" : "-",
          "year" : -1
        }, {
          "id" : 3175,
          "authority" : "Authoritative",
          "classification" : "Sh",
          "dtxsid" : "DTXSID6020692",
          "endpoint" : "Skin Sensitization",
          "glp" : null,
          "guideline" : null,
          "recordUrl" : "https://onlinelibrary.wiley.com/doi/abs/10.1002/9783527812127.oth and email from Heidrun Greim <heidrun.greim@lrz.tu-muenchen.de>",
          "reliability" : "-",
          "resultText" : "Score of H was assigned based on [...]
