http_interactions:
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/hazard/toxref/summary/search/by-study-type/DEV
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: "[ {\n  \"id\" : 9,\n  \"studyId\" : 71,\n  \"dtxsid\" : \"DTXSID9034496\",\n
        \ \"casrn\" : \"127277-53-6\",\n  \"name\" : \"Prohexadione-calcium\",\n  \"studySource\"
        : \"opp_der\",\n  \"studySourceId\" : \"44457762\",\n  \"citation\" : \"Kawanishi,
        H. (1992) BX-112: Teratology Study in the Rabbits: Lab Project Number: 275:
        92/11169.  Unpublished study prepared by Imamichi Institute for Animal Reproduction.
        \ 139 p.\",\n  \"studyYear\" : 1992,\n  \"studyType\" : \"DEV\",\n  \"studyTypeGuideline\"
        : \"Prenatal developmental toxicity study\",\n  \"species\" : \"rabbit\",\n
        \ \"strainGroup\" : \"new zealand white\",\n  \"strain\" : \"New Zealand White\",\n
        \ \"adminRoute\" : \"Oral\",\n  \"adminMethod\" : \"Gavage/Intubation\",\n
        \ \"doseStart\" : 6,\n  \"doseStartUnit\" : \"GD\",\n  \"doseEnd\" : 18,\n
        \ \"doseEndUnit\" : \"GD\",\n  \"exportDate\" : \"2025-01-17\",\n  \"version\"
        : \"v2_1\"\n}, {\n  \"id\" : 10,\n  \"studyId\" : 72,\n  \"dtxsid\" : \"DTXSID9034496\",\n
        \ \"casrn\" : \"127277-53-6\",\n  \"name\" : \"Prohexadione-calcium\",\n  \"studySource\"
        : \"opp_der\",\n  \"studySourceId\" : \"44457760\",\n  \"citation\" : \"York,
        R. (1990) Teratology Study In Rabbits With Bx-112: Lab Project Number: 442-029:
        90/10504. Unpublished Study Prepared By International Research And Development
        Corp. 94 P.\",\n  \"studyYear\" : 1990,\n  [...]
