http_interactions:
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/hazard/toxref/effects/search/by-dtxsid/DTXSID1037806
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        [ {
          "id" : 180688,
          "studyId" : 2841,
          "dtxsid" : "DTXSID1037806",
          "casrn" : "3397-62-4",
          "name" : "2-Chloro-4,6-diamino-1,3,5-triazine",
          "studySource" : "opp_der",
          "studySourceId" : "41392402",
          "citation" : "Hummel, H.; Youreneff, M.; Giknis; et al. (1989) Diaminochloro- triazine: A Teratology (Segment II) Study in Rats: Lab Project Number: 872177.  Unpublished study prepared by Ciba-Geigy Corp. 428 p.",
          "studyYear" : 1989,
          "studyType" : "DEV",
          "studyTypeGuideline" : "Prenatal developmental toxicity study",
          "species" : "rat",
          "strainGroup" : "sprague dawley",
          "strain" : "CD(SD)BR",
          "adminRoute" : "Oral",
          "adminMethod" : "Gavage/Intubation",
          "doseDuration" : null,
          "doseDurationUnit" : null,
          "doseStart" : 6,
          "doseStartUnit" : "GD",
          "doseEnd" : 16,
          "doseEndUnit" : "GD",
          "dosePeriod" : "terminal",
          "doseLevel" : 2,
          "conc" : null,
          "concUnit" : "ppm",
          "vehicle" : null,
          "doseComment" : "concentration not reported",
          "doseAdjusted" : 25.0,
          "doseAdjustedUnit" : "mg/kg/day",
          "sex" : "MF",
          "generation" : "Fetal",
          "lifeStage" : "fetal",
          "numAnimals" : null,
          "tgComment" : null,
          "endpointCategory" : "developmental",
          "endpointType" : "developmental malformation",
          "endpointTarget" : "kidney",
          "effectDesc" : "irregular surface",
          "effectDescFree" : "pitted",
          "cancerRelated" : false,
          "targetSite" : "NA",
          "direction" : 1,
          "effectComment" : null,
          "treatmentRelated" : false,
          "criticalEffect" : false,
          "sampleSize" : "160",
          "effectVal" : 0.0,
          "effectValUnit" : "incidence",
          "effectVar" : null,
          "effectVarType" : null,
          "time" : 20.0,
          "timeUnit" : "GD",
          "noQuantDataReported" : false,
          "exportDate" : "2024-12-02",
          "version" : "v2_1"
        }, {
          "id" : 180689,
          "studyId" : 2841,
          "dtxsid" : "DTXSID1037806",
          "casrn" : "3397-62-4",
          "name" : "2-Chloro-4,6-diamino-1,3,5-triazine",
          "studySource" : "opp_der",
          "studySourceId" : "41392402",
          "citation" : "Hummel, H.; Youreneff, M.; Giknis; et al. (1989) Diaminochloro- triazine: A Teratology (Segment II) Study in Rats: Lab Project Number: 872177.  Unpublished study prepared by Ciba-Geigy Corp. 428 p[...]
