http_interactions:
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/hazard/adme-ivive/search/by-dtxsid/DTXSID7020182
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        [ {
          "id" : 104519,
          "dtxsid" : "DTXSID7020182",
          "description" : "Clint",
          "measured" : "19.9",
          "predicted" : "NA",
          "unit" : "uL/min/million hepatocytes",
          "model" : "NA",
          "reference" : "https://doi.org/10.1093/toxsci/kfz205",
          "percentile" : "NA",
          "species" : "Human",
          "dataSourceSpecies" : "Human"
        }, {
          "id" : 104520,
          "dtxsid" : "DTXSID7020182",
          "description" : "Fup",
          "measured" : "0.0385",
          "predicted" : "NA",
          "unit" : null,
          "model" : "NA",
          "reference" : "https://doi.org/10.1093/toxsci/kfz205",
          "percentile" : "NA",
          "species" : "Human",
          "dataSourceSpecies" : "Human"
        }, {
          "id" : 104521,
          "dtxsid" : "DTXSID7020182",
          "description" :[...]
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/hazard/adme-ivive/search/by-dtxsid/DTXSID5032381
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: '[ ]'
  recorded_at: 2026-03-04 20:11:53
recorded_with: VCR-vcr/2.1.0
