http_interactions:
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/hazard/pprtv/search/by-dtxsid/DTXSID2040282
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        [ {
          "id" : 384,
          "dtxsid" : "DTXSID2040282",
          "pprtvSubstanceId" : 1959,
          "name" : "Vanadium",
          "casrn" : "7440-62-2",
          "lastRevision" : 2009,
          "pprtvAssessment" : "https://cfpub.epa.gov/ncea/pprtv/documents/Vanadium.pdf",
          "irisLink" : "Not available",
          "rfcValue" : "Not available",
          "rfdValue" : "7 x 10-5 mg/kg-day",
          "woe" : "Inadequate information to assess carcinogenic potential"
        } ]
  recorded_at: 2026-03-04 20:11:58
recorded_with: VCR-vcr/2.1.0
