http_interactions:
- request:
    method: POST
    uri: https://comptox.epa.gov/ctx-api/hazard/toxval/search/by-dtxsid/
    body:
      string: '["DTXSID2046541","DTXSID1024122","DTXSID30197038"]'
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        [ {
          "id" : 586,
          "dtxsid" : "DTXSID1024122",
          "casrn" : "1071-83-6",
          "name" : "Glyphosate",
          "source" : "ATSDR MRLs",
          "subsource" : "-",
          "toxvalType" : "MRL",
          "toxvalTypeDefinition" : "MRL is an estimate of the daily human exposure to a hazardous substance that is likely to be without appreciable risk of adverse non-cancer health effects over a specified duration of exposure. MRLs are derived for acute (1-14 days), intermediate (>14-364 days), and chronic (365 days and longer) exposure durations, and for the oral and inhalation routes of exposure.",
          "toxvalSubtype" : "acute",
          "toxvalTypeSuperCategory" : "Toxicity Value",
          "qualifier" : "=",
          "toxvalNumeric" : 1.0,
          "toxvalUnits" : "mg/kg-day",
          "riskAssessmentClass" : "Non-cancer",
          "humanEco" : "human health",
          "studyType" : "Toxicity Value",
          "studyDurationClass" : "-",
          "studyDurationValue" : -999.0,
          "studyDurationUnits" : "-",
          "speciesCommon" : "Human",
          "strain" : "-",
          "latinName" : "Homo sapiens",
          "speciesSupercategory" : "Mammals",
          "sex" : "-",
          "generation" : "-",
          "lifestage" : "-",
          "exposureRoute" : "oral",
          "exposureMethod" : "-",
          "exposureForm" : "-",
          "media" : "-",
          "toxicologicalEffect" : "gastrointestinal in male/female rabbits",
          "experimentalRecord" : "not experimental",
          "studyGroup" : "ATSDR MRLs_dup_-_60:-:--",
          "longRef" : "-",
          "doi" : "-",
          "title" : "-",
          "author" : "-",
          "year" : "2020",
          "guideline" : "-",
          "quality" : "-",
          "qcCategory" : "Programmatically extracted from structured data source; Source overall passed QC, but this record was not manually checked",
          "sourceHash" : "ToxValhc_f4bc5f771863b61645432d0d0e84563a",
          "externalSourceId" : "-",
          "externalSourceIdDesc" : "-",
          "sourceUrl" : "https://wwwn.cdc.gov/TSP/MRLS/mrlsListing.aspx",
          "subsourceUrl" : "-",
          "storedSourceRecord" : "https://clowder.edap-cluster.com/files/674e166be4b0a7c65d36ea5d",
          "toxvalTypeOriginal" : "MRL",
          "toxvalSubtypeOriginal" : "acute",
          "toxvalNumericOriginal" : 1.0,
          "toxvalUnitsOriginal" : "mg/kg/day",
          "studyTypeOriginal" : "acute",
          "studyDurationClassOriginal" : "-",
          "studyDurationValueOriginal" : "-",
          "studyDurationUnitsOriginal" : "-",
          "speciesOriginal" : "human",
          "strainOriginal" : "-",
          "sexOriginal" : "-",
          "generationOriginal" : "-",
          "lifestageOriginal" : "-",
          "exposureRouteOriginal" : "Oral",
          "exposureMethodOriginal" : "-",
          "exposureFormOriginal" : "-",
          "mediaOriginal" : "-",
          "toxicologicalEffectOriginal" : "gastrointestinal in male/female rabbits",
          "originalYear" : "2020"
        }, {
          "id" : 587,
          "dtxsid" : "DTXSID1024122",
          "casrn" : "1071-83-6",
          "name" : "Glyphosate",
          "source" : "ATSDR MRLs",
          "subsource" : "-",
          "toxvalType" : "MRL",
          "toxvalTypeDefinition" : "MRL is an estimate of the daily human exposure to a hazardous substance that is likely to be without appreciable risk of adverse non-cancer health effects over a specified duration of exposure. MRLs are derived for acute [...]
