http_interactions:
- request:
    method: GET
    uri: https://comptox.epa.gov/ctx-api/chemical/list/search/by-name/PRODWATER?projection=chemicallistwithdtxsids
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |-
        {
          "id" : 1471,
          "listName" : "PRODWATER",
          "label" : "Chemicals in Produced Water",
          "type" : "other",
          "shortDescription" : "List of chemicals identified as being present in hydraulic fracturing produced water",
          "longDescription" : "List of chemicals identified as being present in hydraulic fracturing produced water. The chemicals were reported in the paper by Danforth et al entitled \"<a href='https://doi.org/10.1016/j.envint.2019.105280' target='_blank'>An integrative method for identification and prioritization of constituents of concern in produced water from onshore oil and gas extraction</a>\" ",
          "chemicalCount" : 1197,
          "updatedAt" : "2022-05-23T11:58:13Z",
          "dtxsids" : "DTXSID1021374,DTXSID1021665,DTXSID1021740,DTXSID1021798,DTXSID1021827,DTXSID1021952,DTXSID1021956,DTXSID1023940,DTXSID1023996,DTXSID1024097,DTXSID1024126,DTXSID1024172,DTXSID1024207,DTXSID1024382,DTXSID1024912,DTXSID1025227,DTXSID1025300,DTXSID1025302,DTXSID1025649,DTXSID1026118,DTXSID1026457,DTXSID1026823,DTXSID1026906,DTXSID1027267,DTXSID1027269,DTXSID1027479,DTXSID10277089,DTXSID10285629,DTXSID1029124,DTXSID1029677,DTXSID1031040,DTXSID10333972,DTXSID10334782,DTXSID10334888,DTXSID10337571,DT[...]
