http_interactions:
- request:
    method: GET
    uri: https://hcd.rtpnc.epa.gov/api/amos/method_pagination/10/0
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |
        {"results":[{"analyte":"Organohalide pesticides","author":"EPA-OW","count":31,"date_published":"09/2020","description":"Determination of Organohalide pesticides residues in fish, sludge, soil and water (waste) by GC/HSD with a LOD of 300-2000000ppb.","document_type":"GOV","functional_classes":"Abrasives; Acaricides; Acetylcholinesterase Inhibitors; Additives; Anthelmintics; Anti-infective Agents; Antimicrobial Agents; Antimycotics; Antinematodal Agents; Antiparasitics; Attractants; Biocides; Biologicals; Cholinergic Agents; Cholinesterase Inhibitors; Dermatological Drugs; Disinfectants; Drugs; Fertilizers; Fungicides; Herbicides; Hormones; Industrial Chemicals; Insecticides; Miticides; Nematicides; Neurological Drugs; Neurotransmitter Agents; Nootropic Agents; Pesticide Additives; Pesticides; Pharmaceuticals; Plant Growth Regulators; Preservatives and Stabilizing Agents; Psychotropics; Soil Additives; Termiticides; Toxins; Virucides; Xenohormones","internal_id":"GJ-001","limit_of_detection":"300-2000000ppb","limit_of_quantitation":null,"limitation":null,"link":"https://www.epa.gov/sites/default/files/2015-10/documents/method_1656a_2000.pdf","matrix":"Fish, sludge, soil and water (waste)","method_name":"Method 1656, Revision A: Organo-Halide Pesticides in Wastewater, Soil, Sludge, Sediment, and Tissue by GC/HSD","method_number":"EPA-1656a","methodologies":["GC/HSD"],"publisher":null,"source":"USEPA","year_published":2020},{"analyte":"Organophosphorus Pesticides","author":"EPA-OW","count":47,"date_published":"09/2020","description":"Determination of Organophosphorus Pesticides residues in fish, sludge, soil and water (waste) by GC/FPD with a LOD of 200-500000ppb.","document_type":"GOV","functional_classes":"Acaricides; Acetylcholinesterase Inhibitors; Anthelmintics; Anti-infective Agents; Antinematodal Agents; Antiparasitics; Biocides; Biologicals; Cholinergic Agents; Cholinesterase Inhibitors; Defoliants; D[...]
