http_interactions:
- request:
    method: GET
    uri: https://hcd.rtpnc.epa.gov/api/amos/method_pagination/5/10
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |
        {"results":[{"analyte":"Beta-agonists","author":"USDA-OPHS","count":5,"date_published":"11/2018","description":"Determination of Beta-agonists residues in liver and muscle tissues by LC/MS with a LOQ of 5-75ppb.","document_type":"GOV","functional_classes":"Anti-asthmatic Agents; Bronchodilator Agents; Drugs; Industrial Chemicals; Neurological Drugs; Neurotransmitter Agents; Nootropic Agents; Peripheral Nervous System Agents; Pharmaceuticals; Psychotropics; Pulmonary Drugs; Respiratory Drugs; Veterinary Drugs","internal_id":"GJ-012","limit_of_detection":null,"limit_of_quantitation":"5-75ppb","limitation":null,"link":"https://www.fsis.usda.gov/sites/default/files/media_file/2020-09/CLG-AGON1.pdf","matrix":"Liver and muscle tissues","method_name":"Screening Determination and Confirmation of \u03b2-Agonists by HPLC-MS-MS","method_number":"CLG-AGON1.10","methodologies":["LC/MS"],"publisher":null,"source":"USDA","year_published":2018},{"analyte":"Ivermectin, Doramectin and Moxidectin","author":"USDA-OPHS","count":3,"date_published":"03/2011","description":"Determination of Ivermectin, Doramectin and Moxidectin residues in liver and muscle tissues by LC/MS with a LOQ of 25ppb.","document_type":"GOV","functional_classes":"Anthelmintics; Anti-anxiety Agents; Anti-infective Agents; Antibiotics; Anticonvulsants; Antimicrobial Agents; Antinematodal Agents; Antiparasitics; Bacteriocides; Biocides; CNS Agents; CNS Depressants; [...]
[...]
- request:
    method: GET
    uri: https://hcd.rtpnc.epa.gov/api/amos/method_pagination/5/75
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: |
        {"results":[{"analyte":null,"author":null,"count":33,"date_published":"05/2016","description":null,"document_type":"VAN","functional_classes":null,"internal_id":"GJ-10016","link":"https://www.unitedchem.com/wp-content/uploads/2019/08/Anthelmintic_Drug_Residues_in_Milk_1.pdf","matrix":null,"method_name":"Determination of Anthelmintic Drug Residues in Milk Using Ultra High Performance Liquid Chromatography- Tandem Mass Spectrometry*","method_number":null,"methodologies":null,"pdf_metadata":{},"publisher":null,"source":"UCT Inc","year_published":2016},{"analyte":null,"author":null,"count":84,"date_published":"05/2016","description":null,"document_type":"VAN","functional_classes":null,"internal_id":"GJ-10017","link":"https://www.unitedchem.com/wp-content/uploads/2019/08/Agrochemicals_in_Honey_Bees_Wax_or_Pollen.pdf","matrix":null,"method_name":"QuEChERS Analysis of Miticides and Other Agrochemicals in Honey Bees, Wax or Pollen","method_number":null,"methodologies":null,"pdf_metadata[...]
[...]
